@import "_common_define";
@import "admin/*.png";
@include all-admin-sprites;

.main-container {
    width: 720px;
    margin: 0 auto;
}
.col-combined {
    width: 720px;
}
.col-left-left-big {
    width: 558px;
    padding-bottom: 40px;
}
.col-right-left-big {
    width: 160px;
    margin-left: 2px;
}

#admin-menu {
    margin: 10px 0;
    position :relative;
    height: 24px;
    div {
        float: left;
    }
    .margin-left-area {
        width: 125px;
        height: 10px;
    }
    .admin-alteration {
        width: 114px;
        height: 24px;
        position: absolute;
        left: -20px;
    }
    .seperator {
        width: 1.3px;
        height: 24px;
        margin: 0 10px;
        background-color: $gray;
    }
    .title {
        font-size: 14px;
        font-weight: bold;
        margin-top: 3px;
        a {
            color: $gray;
        }
    }
}

#admin-tabs {
    width: 100%;
    height: 41px;
    border-bottom: 1px solid $black;
    .admin-tab {
        position :relative;
        bottom: -2px;
        margin: 0 2px;
        float: left;
        height: 20px;
        padding: 9px 25px;
        -webkit-border-radius: 0px;
        -webkit-border-top-right-radius: 10px;
        -webkit-border-top-left-radius: 10px;
        -moz-border-radius: 0px;
        -moz-border-radius-top-right: 10px;
        -moz-border-radius-top-left: 10px;
        border-radius: 0px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-style:solid;
        border-width:1px;
    }
}

.backpacker {
    #admin-menu {
        .title {
            a:hover {
                color: #00A99D;
            }
        }
        .title.selected {
            a {
                color: #00A99D;
            }
        }
    }
    #admin-tabs {
        color: #007063;
        border-bottom: 1px solid #007063;
        .admin-tab {
            cursor: pointer;
            background-color: #ffffff;
            @include filter-gradient(#ffffff, #ffffff, vertical);
            $experimental-support-for-svg: true;
            @include background-image(linear-gradient(top,  #ffffff 1%,#00a99d 32%,#00a99d 66%,#ffffff 100%));
        }
        .admin-tab.selected {
            border-bottom-color: #FFF;
        }
    }
}

.houseowner {
    #admin-menu {
        .title {
            a:hover {
                color: #007AFA;
            }
        }
        .title.selected {
            a {
                color: #007AFA;
            }
        }
    }
    #admin-tabs {
        color: #2E3192;
        border-bottom: 1px solid #2E3192;
        .admin-tab {
            cursor: pointer;
            border-color: #2E3192;
            background-color: #FFFFFF; // Old browsers
            $experimental-support-for-svg: true;
            @include background-image(linear-gradient(top,  #ffffff 1%,#54a6de 51%,#ffffff 99%));
        }
        .admin-tab.selected {
            border-bottom-color: #FFF;
        }
    }
}
#houseobject-selector
{
    width: 547px;
    background-color: #EFEFEF;
    border: 1px solid #2E3192;
    padding: 5px;
    margin-top: 10px;
    .houseobject-selector-item {
        width: 144px;
        height: 150px;
        padding: 5px;
        display: inline-block;
        border: 5px solid #EFEFEF;
        position: relative;
        background-color: #DDD;
        white-space: nowrap;
        text-align: center;
        a {
            margin-top: 5px;
        }
        .admin-close_big {
            cursor: pointer;
            width: 20px;
            height: 19px;
            position: absolute;
            right: 5px;
            top :5px;
        }
        img {
            width: 144px;
            height: 93px;
        }
    }
    .selected {
        border: 5px solid #CCC;
    }
    #houseobject-add {
        cursor: pointer;
        width: 144px;
        height: 151px;
        padding: 5px;
        display: inline-block;
        background-color: #CCC;
        border: 4px solid #CCC;

        .admin-add_property {
            width: 74px;
            height: 42px;
            margin: 44px 0 0 30px;
            background-position: 0 -63px;
        }
        .title {
            margin: 10px 0 0 25px;
            color: $white;
            font-size: 16px;
        }
    }
    .admin-arrow {
        width: 10px;
        height: 27px;
        margin: 70px 0 0 5px;
        cursor: pointer;
    }
    .arrow-area {
        width: 20px; 
        float: left;
        overflow: hidden;
    }
    .container {
        white-space: nowrap;
    }
    #selector {
        float: left;
        width: 505px;
        height: 180px;
        overflow: hidden;
    }
    .delete-dialog {
        background-color: #E2E2E2;
        width: 400px;
        height: 125px;
        padding: 10px;
        color: $black;
        position: absolute;
        top: 20px;
        left: 70px;
        z-index: 10;
        border: 1px solid $gray;
        -webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
        box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
        .info {
            padding: 20px;
            width: 100%;
            text-align: center;
            line-height: 25px;
            overflow: hidden;
            div {
                float: left;
            }
            .admin-delete {
                width: 27px;
                height: 38px;
                float: left;
                margin: 0 10px;
            }
        }
        .btn-area {
            padding-left: 125px;
            .btn {
                width: 73px;
                height: 23px;
                line-height: 23px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                border: 1px solid $black;
                color: $black;
                text-align: center;
                background-color: #e5e5e5;
                @include filter-gradient(#ffffff, #d6d6d6, vertical);
                $experimental-support-for-svg: true;
                @include background-image(linear-gradient(top,  #ffffff 0%,#e5e5e5 87%,#d6d6d6 100%));
                cursor: pointer;
                float: left;
                margin-right: 20px;
            }
        }
        .admin-close_big {
            cursor: pointer;
            width: 20px;
            height: 19px;
            position: absolute;
            right: 2px;
            top: 2px;
        }
    }
}
.houseobject-photo-item {
    float: left;
    position: relative;
    margin: 10px;
    .admin-close_big {
        cursor: pointer;
        width: 20px;
        height: 19px;
        position: absolute;
        right: 2px;
        top: 2px;
    }
}

.big-title {
    color: #3b91d9;
    font-size: 20px;
    padding: 20px 0;
}

#messages {

    .title {
        color: #3b91d9;
    }
}
.message {
    position: relative;
    margin-bottom: 10px;
    .message-single {
        padding: 10px 10px 0 10px;
        border-bottom: 1px solid #ccc;
    }
    .admin-close {
        cursor: pointer;
        width: 14px;
        height: 14px;
        position: absolute;
        right: 5px;
        top :5px;
    }
    .message-body {
        margin: 10px 0;
        line-height: 16px;
    }
    .reply {
        padding: 10px 10px 0 20px;
    }
    .reply-form {
        padding: 5px;
        input {
            float: left;
        } 
        input[type="text"] {
            width: 445px;
        }
        input[type="submit"] {
            margin: 3px 10px;
        }
    }
}

#form-submit {
    margin-top:10px;
}

.message:nth-child(even) {
    background-color: #EEE;
}

#previous-messages-btn {
    margin: 10px 0;
}

#suggestion {
    .big-title {
        color: $black;
    }

    .desc {
        color: $gray;
        line-height: 20px;
    }

    textarea {
        float: left;
        height: 150px;
        width: 400px;
        margin-top: 10px;
    }

    input[type="submit"] {
        float: left;
        position: relative;
        bottom: 0;
        margin: 140px 0 0 20px;
    }
}

#profits {

    .admin-calendar {
        float: left;
        width: 17px;
        height: 16px;
        margin: 4px 3px;
    }
    .admin-calendar_big {
        float: left;
        width: 18px;
        height: 18px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .admin-people {
        float: left;
        width: 13px;
        height: 17px;
        margin: 4px 3px;
    }
    .admin-money1 {
        float: left;
        width: 9px;
        height: 15px;
        margin: 4px 3px;
    }
    .admin-money2 {
        float: left;
        width: 9px;
        height: 13px;
        margin: 8px 3px;
        background-position: 0 -240px;
    }
    .admin-equal {
        float: left;
        width: 16px;
        height: 11px;
        margin: 6px 3px;
    }
    .admin-plus {
        float: left;
        width: 13px;
        height: 14px;
        margin: 5px 3px;
    }
    .profit-title {
        font-size: 30px;
        color: #CCC;
        margin: 10px;
    }
    .desc-area {
        overflow: hidden;
        margin-left: 80px;
        margin-bottom: 10px;
        div {
            float: left;
        }
        .title {
            font-size: 16px;
            margin: 2px 20px 0 0;
        }
    }
    .house-object {
        width: 550px;
        height: 100px;
        clear: both;
        padding: 10px 0;
        border-bottom: 1px solid #1B1464;
        .admin-plus {
            margin: 8px 3px;
        }
        .admin-equal {
            margin: 9px 3px;
        }
        div {
        }
        .house-desc-area {
            float: left;
            height: 100px;
            width: 110px;
            img {
                margin: 5px;
                width: 90px;
            }
            .title {
                margin: 2px 5px;
                color: $blue;
            }
        }
        .date-area {
            float: left;
            height: 100px;
            width: 140px;
            input {
                width: 100px;
                float: left;
            }
            .title {
                margin: 10px 0;
                clear: both;
            }
        }
        .people-area {
            float: left;
            height: 100px;
            width: 60px;
            padding: 33px 0 0 0;
            input {
                float: left;
                width: 30px;
                float: left;
            }
        }
        .rent-area {
            float: left;
            height: 100px;
            width: 100px;
            padding: 33px 0 0 0;
            input {
                float: left;
                width: 45px;
                float: left;
            }
        }
        .amount-area {
            float: left;
            height: 100px;
            width: 140px;
            padding: 33px 0 0 0;
            input {
                float: left;
                width: 90px;
                float: left;
            }
        }
        input[type="text"] {
            float: left;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            padding: 4px;
            font-size: 12px;
            color: #666666;
            vertical-align: middle;
        }
    }
    .total-area {
        padding-right: 10px;
        div {
            float: right;
        }
        .title {
            margin: 4px 3px;
            color: $gray;
            font-size: 14px;
        }
        input[type="text"] {
            float: right;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            padding: 4px;
            font-size: 12px;
            color: #666666;
            vertical-align: middle;
            width: 90px;
        }
    }
}


.reports {
    margin-top: 40px;
    width: 100%;
    ling-height: 25px;
    background-color: #EFEFEF;
    font-size: 16px;
    tr:first-child {
        background-color: #009999;
        color: #fff;
    }
    tr {
        td {
            padding: 10px;
        }
    }
}

.traffic-link {
    margin: 10px;
    font-size: 16px;
}
