@import "_common_define";
@import "icons/*.png";
@include all-icons-sprites;

body {
    font-family: Myriad Pro,Lucida Grande,Helvetica,Arial,Verdana,sans-serif,"Microsoft JhengHei","微軟正黑體";
    margin: 0;
    font-size: 14px;
}

a {
    color: $blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
