@import "_common_define";
@import "map/*.png";
@import "map_big/*.png";
@include all-map-sprites;
@include all-map_big-sprites;
@import "menu/*.png";
@include all-menu-sprites;
@import "listing/*.png";
@include all-listing-sprites;

body {
    font-family: Myriad Pro,Lucida Grande,Helvetica,Arial,Verdana,sans-serif,"Microsoft JhengHei","微軟正黑體";
    margin: 0;
    font-size: 14px;
}

a {
    color: $blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

input[type="text"], input[type="password"] {
    border: 1px solid $gray;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

#map-all {
    width: 147px;
    height: 138px;
    margin: 0 auto;
    position: relative;
    .map-item {
        cursor: pointer;
    }
    .map-map_wa {
        position: absolute;
        width: 58px;
        height: 89px;
        top: 16px;
    }
    .map-map_nt {
        position: absolute;
        width: 34px;
        height: 62px;
        top: 5px;
        left: 56px;
    }
    .map-map_sa {
        position: absolute;
        width: 44px;
        height: 51px;
        top: 65px;
        left: 56px;
    }
    .map-map_qld {
        position: absolute;
        width: 58px;
        height: 78px;
        top: 0;
        right: 0px;
    }
    .map-map_vic {
        position: absolute;
        width: 33px;
        height: 23px;
        top: 97px;
        right: 15px;
        z-index: 1;
    }
    .map-map_tas {
        position: absolute;
        width: 19px;
        height: 19px;
        top: 119px;
        right: 18px;
    }
    .map-map_nsw {
        position: absolute;
        width: 48px;
        height: 41px;
        top: 73px;
        right: 0px;
    }

    .unselected {
        background: url('/img/transparent.png');
    }
}

#map-all.map_big-map_all_big {
    width: 181px;
    height: 169px;
    margin: 0 auto;
    position: relative;
    .map_big-map_wa_big {
        position: absolute;
        width: 70px;
        height: 110px;
        top: 19px;
    }
    .map_big-map_nt_big {
        position: absolute;
        width: 41px;
        height: 75px;
        top: 6px;
        left: 70px;
    }
    .map_big-map_sa_big {
        position: absolute;
        width: 53px;
        height: 62px;
        top: 80px;
        left: 70px;
    }
    .map_big-map_qld_big {
        position: absolute;
        width: 71px;
        height: 95px;
        top: 0;
        right: 1px;
    }
    .map_big-map_vic_big {
        position: absolute;
        width: 41px;
        height: 28px;
        top: 119px;
        right: 18px;
        z-index: 1;
    }
    .map_big-map_tas_big {
        position: absolute;
        width: 23px;
        height: 23px;
        top: 146px;
        right: 23px;
    }
    .map_big-map_nsw_big {
        position: absolute;
        width: 59px;
        height: 50px;
        top: 90px;
        right: 0px;
    }

    .unselected {
        background: url('/img/transparent.png');
    }
}

.calendar {
    width: 220px;
}

.panel {
    z-index: 100;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid $form-border;
    -webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
    box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
    background-color: $white;
    position: absolute;
}

.main-container {
    width: 720px;
    margin: 0 auto;
}

.col {
    float: left;
}

.col-left {
    width: 160px;
}

.col-right {
    width: 558px;
    margin-left: 2px;
}

#banner {
    width: 100%;
    background-color: #CFED3F;
    .container {
        width: 720px;
        height: 110px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        .title {
            font-size: 36px;
            position: absolute;
            left: 100px;
            bottom: 10px;
        }
        .banner-pic {
            background: url(../img/banner_pic.png);
            width: 173px;
            height: 80px;
            position: absolute;
            right: 10px;
            bottom: 0px;
        }
    }
}

.clean {
    clear: both;
}

#menu-container {
background-color: #B2B2B2;
#menu {
    width: 720px;
    margin: 0 auto;
    font-size: 14px;
    border: 1px solid #7F7F7F;
    background-color: #e5e5e5;
    @include filter-gradient(#ffffff, #d6d6d6, vertical);
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(top,  #ffffff 0%,#e5e5e5 87%,#d6d6d6 100%));
    .btn {
        float: left;
        width: 20%;
        height: 31px;
        text-align: center;
        cursor: pointer;
        .btn-container {
            display: inline-block;
            imargin: 0 auto;
            height: 31px;
            line-height: 31px;
            .menu-icon {
                width: 23px;
                height: 23px;
                float: left;
                margin: 3px 3px 3px 0;
                vertical-align: middle;
            }
            .title {
                float: left;
                vertical-align: middle;
            }
        }
    }
    .btn-right {
        float: right;
        position: relative;
        .btn-container {
            .menu-icon {
                 margin: 3px 0 3px 3px;
            }
        }
    }
    .extension-link {
        border: 1px solid #E5E5E5;
        width: 100%;
        -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.25);
        -moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.25);
        box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.25);
        position: relative;
        right: 2px;
        text-align: left;
        .extension-item {
            height: 26px;
            line-height: 26px;
            background-color: $white;
            border-bottom: 1px solid #E5E5E5;
            a {
                margin-left: 20px;
                vertical-align: middle;
                color: #7F7F7F;
                text-decoration: none;
            }
        }
        .extension-item:hover {
            background-color: #E5E5E5;    
        }
        .extension-item:last-child {
            border-bottom: 0px;
        }
    }
}}

#search-menu, #favorites {
    padding-bottom: 10px;
    background-color: #e1f7f2;
    @include filter-gradient(#e1f7f2, #e1f7f2, vertical);
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(top,  #e1f7f2 0%,#ffffff 31%,#ffffff 87%,#e1f7f2 100%));
    -webkit-border-radius: 0px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius: 0px;
    -moz-border-radius-top-right: 6px;
    -moz-border-radius-top-left: 6px;
    border-radius: 0px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: 1px solid $black;
    margin-top: 2px;
    .green-title {
        height: 25px;
        line-height: 25px;
        color: $black;
        font-size: 14px;
        margin-bottom: 10px;
        background-color: #22CFBD;
        -webkit-border-radius: 0px;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        -moz-border-radius: 0px;
        -moz-border-radius-top-right: 5px;
        -moz-border-radius-top-left: 5px;
        border-radius: 0px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        .listing-search {
            width: 19px;
            height: 20px;
            float: left;
            margin: 3px 3px 3px 10px;
        }
        .listing-favorite {
            width: 17px;
            height: 16px;
            float: left;
            margin: 4px 3px 3px 10px;
        }
        .title {
            color: $black;
            float: left;
            vertival-align: middle;
        }
    }
    .favorite-set {
        margin: 2px 0;
        .title {
            float: left;
        }
        .listing-delete {
            width: 14px;
            height: 14px;
            float: left;
            margin: 4px;
            cursor: pointer;
        }
    }
    .input-set {
        clear: both;
        font-size: 10px;
        padding: 2px 10px;
        position: relative;
        .listing-calendar {
            cursor: pointer;
            width: 17px;
            height: 16px;
            float: left;
            margin: 4px 2px;
        }
        .title {
            padding: 1px;
            _padding: 3px 1px 0px 1px;
            *padding: 3px 1px 0px 1px;
            padding: 3px 1px 0px 1px\9;
            vertical-align: middle;
        }
        .title.sec-title {
            display: inline;
            width: auto;
        }
        .desc {
            color: $gray;
            font-size: 9px;
        }
        input {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            padding: 2px;
            font-size: 10px;
            color: $gray;
            vertical-align: middle;
            float: left;
        }
        select {
            font-size: 10px;
            padding: 1px;
            width: 140px;
        }
        select.short {
            width: 40px;
        }
        #cal-btn-start-cal {
            position: absolute;
            left: 150px;
            top: 20px;
        }
        #cal-btn-end-cal {
            position: absolute;
            left: 150px;
            top: 60px;
        }
    }
    #search-btn {
        width: 73px;
        height: 23px;
        line-height: 23px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid $black;
        color: $black;
        text-align: center;
        background-color: #e5e5e5;
        @include filter-gradient(#ffffff, #d6d6d6, vertical);
        $experimental-support-for-svg: true;
        @include background-image(linear-gradient(top,  #ffffff 0%,#e5e5e5 87%,#d6d6d6 100%));
        cursor: pointer;

        .listing-search_btn {
            width: 14px;
            height: 14px;
            float: left;
            vertical-align: middle;
            margin: 5px 3px 0 5px;
        }
        .title {
            float: left;
            vertical-align: middle;
        }
    }      
}

#sort-bar {
    height: 16px;
    line-height: 16px;
    background-color: #656565;
    font-size: 12px;
    color: $white;
    padding: 10px;
    margin: 2px 0;
    .title {
        margin-right: 10px;
        float: left;
    }
    .sort-item {
        vertical-align: middle;
        float: left;
        .listing-sort {
            width: 16px;
            height: 17px;
            margin-right: 15px;
            float: left;
        }
        .desc {
            margin: 0 5px;    
            float: left;
        }
    }
}

.search-result {
    .listing-icon {
        width: 19px;
        height: 22px;
        margin: 3px 5px;
        float: left;
    }
    .theme-icon-house {
        width: 19px;
        height: 22px;
        margin: 3px 5px;
        float: left;
    }
    .theme-icon-packer {
        width: 21px;
        height: 21px;
        margin: 3px 5px;
        float: left;
    }
    .bar {
        height: 31px;
        line-height: 31px;
        border-bottom: 3px solid;
        .left {
            width: 523px;
            height: 30px;
            border: 1px solid;
            border-bottom: 0;
            float: left;
            .title {
                color: $black;
                font-size: 16px;
                float: left;
            }
            img {
                width: 22px;
                height: 15px;
                float: left;
                margin: 8px 10px;
            }
            .updated-time {
                font-size: 10px;
                float: right;
                margin-right: 15px;
            }
        }
        .left-house {
            width: 424px;
        }
        .right-item {
            margin-left: 1px;
            height: 30px;
            width: 30px;
            border: 1px solid;
            border-bottom: 0;
            float: left;
            cursor: pointer;
            position: relative;
            .theme-icon-detail {
                width: 18px;
                height: 18px;
                margin: 6px 6px;
            }
            .theme-icon-pic {
                width: 20px;
                height: 16px;
                margin: 7px 5px;
            }
            .theme-icon-map {
                width: 12px;
                height: 18px;
                margin: 6px 9px;
            }
            .theme-icon-contact {
                width: 15px;
                height: 18px;
                margin: 6px 7px;
            }
        }
        .right-item.selected {
            background-color: $white;
            .white-bar {
                position: absolute;
                height: 3px;
                width: 100%;
                background-color: $white;
            }
        }
    }
    .content {
        padding: 5px 10px;;
        border: 1px solid;
        border-top: 0;
        margin-bottom: 2px;
        position: relative;
        .left-content {
            float: left;
            img {
                width: 76px;
                height: 93px;
                margin-top: 15px;
            }    
        }
        .right-content {
            float: left;
            posiiton: relative;
            .info-set {
                height: 25px;
                overflow: hidden;
                .title {
                    width: 135px;
                    height: 17px;
                    text-align: right;
                    float: left;
                }
                .title.two-column {
                    width: 60px;
                }
                .desc {
                    width: 120px;
                    text-align: left;
                    color: $black;
                    float: left;
                    margin-left: 5px;
                    .inline-desc {
                        width: auto;
                        padding: 2px 4px;
                        margin: 0;
                        float: left;
                    }
                }
                .one-line-desc {
                    width: auto;
                }
            }
            .listing-icon {
                width: 20px;
                height: 21px;
                float: left;
                margin: 2px 3px;
            }
        }
        .combined-content {
            float: left;
            width: 535px;
            height: 111px;
            posiiton: relative;
            .info-set {
                .title {
                    width: 70px;
                }
                .title.two-column {
                    width: 60px;
                }
                .desc {
                    width: 160px;
                    .inline-desc {
                        width: auto;
                    }
                }
                .one-line-desc {
                    width: auto;
                }
            }
        }
        .pic-content {
            float: left;
            width: 535px;
            height: 111px;
            position: relative;
            .arrow-area {
                float: left;
                width: 20px;
                height: 111px;
                .theme-arrow {
                    cursor: pointer;
                    width: 11px;
                    height: 28px;
                    margin: 40px 5px;
                }
            }
            .pics {
                float: left;
                overflow: hidden;
                height: 111px;
                width: 492px;
                overflow: hidden;
                white-space: nowrap;
                ul {
                    padding: 0;
                    margin: 0;
                    height: 111px;
                    li {
                        display: inline-block;
                        margin: 0px;
                        margin-top: 4px;
                        overflow: hidden;
                        height: 103px;
                        white-space: nowrap;
                        img {
                            width: 144px;
                            height: 93px;
                            border: 5px solid $white;
                            cursor: pointer
                        }
                        img.selected {
                            border: 5px solid #B2B2B2;
                        }
                    }
                }
            }
        }
        .map-content {
            width: 535px;
            height: 111px;
            .map {
                width: 142px;
                height: 90px;
                margin: 10px 5px;
                float: left;
            }
            .location-info {
                width: 370px;
                height: 111px;
                float: left;
                margin-left: 10px;
                ul {
                    margin: 0; 
                    padding: 0;
                    list-style: none;
                    list-style-image: none;
                    .desc {
                        color: $black;
                        margin: 0; 
                    }
                }
            }
        }
        .action-btns {
            position: absolute;
            right: 10px;
            bottom: 10px;
            .listing-save_favorite {
                width: 52px;
                height: 21px;
                margin: 5px;
                cursor: pointer;
            }
            .listing-send_message {
                width: 52px;
                height: 21px;
                margin: 5px;
                cursor: pointer;
            }
        }
    }
}
