@import "_common_define";
@import "icons/*.png";
@include all-icons-sprites;
@import "map/*.png";
@import "map_big/*.png";
@include all-map-sprites;
@include all-map_big-sprites;

body {
    font-family: Myriad Pro,Lucida Grande,Helvetica,Arial,Verdana,sans-serif,"Microsoft JhengHei","微軟正黑體";
    margin: 0;
    font-size: 14px;
}

a {
    color: $blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

input[type="text"], input[type="password"] {
    border: 1px solid $gray;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

#map-all {
    .map-item {
        cursor: pointer;
    }
    .unselected {
        background: url('/img/transparent.png');
    }
}

#map-all.map_big-map_all_big {
    width: 181px;
    height: 169px;
    margin: 0 auto;
    position: relative;
    .map_big-map_wa_big {
        position: absolute;
        width: 70px;
        height: 110px;
        top: 19px;
    }
    .map_big-map_nt_big {
        position: absolute;
        width: 41px;
        height: 75px;
        top: 6px;
        left: 70px;
    }
    .map_big-map_sa_big {
        position: absolute;
        width: 53px;
        height: 62px;
        top: 80px;
        left: 70px;
    }
    .map_big-map_qld_big {
        position: absolute;
        width: 71px;
        height: 95px;
        top: 0;
        right: 1px;
    }
    .map_big-map_vic_big {
        position: absolute;
        width: 41px;
        height: 28px;
        top: 119px;
        right: 18px;
    }
    .map_big-map_tas_big {
        position: absolute;
        width: 23px;
        height: 23px;
        top: 146px;
        right: 23px;
    }

    .unselected {
        background: url('/img/transparent.png');
    }
}

.calendar {
    width: 220px;
}

.panel {
    z-index: 100;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid $form-border;
    -webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
    box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
    background-color: $white;
    position: absolute;
}
