@import "_common_define";
@import "map/*.png";
@import "map_big/*.png";
@include all-map-sprites;
@include all-map_big-sprites;
@import "menu/*.png";
@include all-menu-sprites;
@import "listing/*.png";
@include all-listing-sprites;

#search-menu, #favorites {
    padding-bottom: 10px;
    background-color: #e1f7f2;
    @include filter-gradient(#e1f7f2, #e1f7f2, vertical);
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(top,  #e1f7f2 0%,#ffffff 31%,#ffffff 87%,#e1f7f2 100%));
    -webkit-border-radius: 0px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius: 0px;
    -moz-border-radius-top-right: 6px;
    -moz-border-radius-top-left: 6px;
    border-radius: 0px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: 1px solid $black;
    margin-top: 2px;
    .green-title {
        height: 25px;
        line-height: 25px;
        color: $black;
        font-size: 14px;
        margin-bottom: 10px;
        background-color: #22CFBD;
        -webkit-border-radius: 0px;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        -moz-border-radius: 0px;
        -moz-border-radius-top-right: 5px;
        -moz-border-radius-top-left: 5px;
        border-radius: 0px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        .listing-search {
            width: 19px;
            height: 20px;
            float: left;
            margin: 3px 3px 3px 10px;
        }
        .listing-favorite {
            width: 17px;
            height: 16px;
            float: left;
            margin: 4px 3px 3px 10px;
        }
        .title {
            color: $black;
            float: left;
            vertical-align: middle;
        }
    }
    .favorite-set {
        margin: 2px 0;
        .title {
            float: left;
            a {
                color: $black;
            }
        }
        .listing-delete {
            width: 14px;
            height: 14px;
            float: left;
            margin: 4px;
            cursor: pointer;
        }
    }
    .input-set {
        clear: both;
        font-size: 10px;
        padding: 2px 9px;
        position: relative;
        .listing-calendar {
            cursor: pointer;
            width: 17px;
            height: 16px;
            float: left;
            margin: 4px 2px;
        }
        .title {
            padding: 1px;
            _padding: 3px 1px 0px 1px;
            *padding: 3px 1px 0px 1px;
            padding: 3px 1px 0px 1px\9;
            vertical-align: middle;
        }
        .title.sec-title {
            display: inline;
            width: auto;
        }
        .desc {
            color: $gray;
            font-size: 9px;
        }
        input {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            padding: 2px;
            font-size: 10px;
            color: $gray;
            vertical-align: middle;
            float: left;
        }
        select {
            font-size: 10px;
            padding: 1px;
            width: 140px;
        }
        select.short {
            width: 40px;
        }
    }
    #search-btn {
        width: 73px;
        height: 23px;
        line-height: 23px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid $black;
        color: $black;
        text-align: center;
        background-color: #e5e5e5;
        @include filter-gradient(#ffffff, #d6d6d6, vertical);
        $experimental-support-for-svg: true;
        @include background-image(linear-gradient(top,  #ffffff 0%,#e5e5e5 87%,#d6d6d6 100%));
        cursor: pointer;

        .listing-search_btn {
            width: 14px;
            height: 14px;
            float: left;
            vertical-align: middle;
            margin: 5px 3px 0 5px;
        }
        .title {
            float: left;
            vertical-align: middle;
        }
    }      
}

#sort-bar {
    height: 16px;
    line-height: 16px;
    background-color: #656565;
    font-size: 12px;
    color: $white;
    padding: 10px;
    margin: 2px 0;
    .title {
        margin-right: 10px;
        float: left;
    }
    .sort-item {
        vertical-align: middle;
        float: left;
        .listing-sort {
            width: 16px;
            height: 17px;
            margin-right: 15px;
            float: left;
        }
        .desc {
            margin: 0 5px;    
            float: left;
        }
    }
}

.search-result {
    background-color: $white;
    .listing-icon {
        width: 19px;
        height: 22px;
        margin: 3px 5px;
        float: left;
    }
    .theme-icon-house {
        width: 19px;
        height: 22px;
        margin: 3px 5px;
        float: left;
    }
    .theme-icon-packer {
        width: 21px;
        height: 21px;
        margin: 3px 5px;
        float: left;
    }
    .bar {
        height: 31px;
        line-height: 31px;
        border-bottom: 3px solid;
        .left {
            width: 521px;
            height: 30px;
            border: 1px solid;
            border-bottom: 0;
            float: left;
            .title {
                color: $black;
                font-size: 16px;
                float: left;
            }
            img {
                width: 22px;
                height: 15px;
                float: left;
                margin: 8px 10px;
            }
            .updated-time {
                font-size: 10px;
                float: right;
                margin-right: 15px;
            }
        }
        .left-house {
            width: 422px;
        }
        .right-item {
            margin-left: 1px;
            height: 30px;
            width: 30px;
            border: 1px solid;
            border-bottom: 0;
            float: left;
            cursor: pointer;
            position: relative;
            .theme-icon-detail {
                width: 18px;
                height: 18px;
                margin: 6px 6px;
            }
            .theme-icon-pic {
                width: 20px;
                height: 16px;
                margin: 7px 5px;
            }
            .theme-icon-map {
                width: 12px;
                height: 18px;
                margin: 6px 9px;
            }
            .theme-icon-contact {
                width: 15px;
                height: 18px;
                margin: 6px 7px;
            }
        }
        .right-item.selected {
            background-color: $white;
            .white-bar {
                position: absolute;
                height: 3px;
                width: 100%;
                background-color: $white;
            }
        }
    }
    .content {
        padding: 5px 10px;;
        border: 1px solid;
        border-top: 0;
        margin-bottom: 2px;
        position: relative;
        .left-content {
            float: left;
            img {
                width: 76px;
                height: 93px;
                margin-top: 15px;
            }    
        }
        .right-content {
            float: left;
            position: relative;
            margin-left: 5px;
            .info-set {
                height: 25px;
                overflow: hidden;
                .title {
                    width: 145px;
                    height: 17px;
                    text-align: right;
                    float: left;
                }
                .title.two-column {
                    width: 65px;
                }
                .desc {
                    width: 100px;
                    text-align: left;
                    color: $black;
                    float: left;
                    margin-left: 5px;
                    white-space: nowrap;
                    .inline-desc {
                        width: auto;
                        padding: 2px 4px;
                        margin: 0;
                        float: left;
                    }
                }
                .desc.two-column {
                    width: 130px;
                }
                .one-line-desc {
                    width: auto;
                }
            }
            .listing-icon {
                width: 20px;
                height: 21px;
                float: left;
                margin: 2px 3px;
            }
        }
        .combined-content {
            float: left;
            width: 535px;
            height: 111px;
            positiion: relative;
            .info-set {
                .title {
                    width: 75px;
                }
                .title.two-column {
                    width: 65px;
                }
                .desc {
                    width: 160px;
                    white-space: nowrap; 
                    .inline-desc {
                        width: auto;
                    }
                }
                .one-line-desc {
                    width: auto;
                }
            }
        }
        .pic-content {
            float: left;
            width: 535px;
            height: 111px;
            position: relative;
            .arrow-area {
                float: left;
                width: 20px;
                height: 111px;
                .theme-arrow {
                    cursor: pointer;
                    width: 11px;
                    height: 28px;
                    margin: 40px 5px;
                }
            }
            .pics {
                float: left;
                overflow: hidden;
                height: 111px;
                width: 492px;
                overflow: hidden;
                white-space: nowrap;
                ul {
                    padding: 0;
                    margin: 0;
                    height: 111px;
                    li {
                        display: inline-block;
                        margin: 0px;
                        margin-top: 4px;
                        overflow: hidden;
                        height: 103px;
                        white-space: nowrap;
                        img {
                            width: 144px;
                            height: 93px;
                            border: 5px solid $white;
                            cursor: pointer
                        }
                        img.selected {
                            border: 5px solid #B2B2B2;
                        }
                    }
                }
            }
        }
        .map-content {
            width: 535px;
            height: 111px;
            .map {
                width: 142px;
                height: 90px;
                margin: 10px 5px;
                float: left;
            }
            .location-info {
                width: 370px;
                height: 111px;
                float: left;
                margin-left: 10px;
                ul {
                    margin: 0; 
                    padding: 0;
                    list-style: none;
                    list-style-image: none;
                    .desc {
                        color: $black;
                        margin: 0; 
                    }
                }
            }
        }
        .action-btns {
            position: absolute;
            right: 10px;
            bottom: 10px;
            .listing-save_favorite {
                width: 52px;
                height: 21px;
                margin: 5px;
                cursor: pointer;
            }
            .listing-send_message {
                width: 52px;
                height: 21px;
                margin: 5px;
                cursor: pointer;
            }
        }
    }
    .message-panel {
        background-color: #E2E2E2;
        width: 300px;
        height: 100px;
        padding: 10px;
        color: $black;
        position: absolute;
        top: -25px;
        left: 100px;
        z-index: 10;
        border: 1px solid $gray;
        -webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
        box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
        .title{
            display: inline;
        }
        .desc {
            display: inline;
        }
        textarea {
            margin: 5px 0;
            width: 243px;
            height: 73px;
        }
        .listing-delete {
            width: 14px;
            height: 14px;
            position: absolute;
            right: 5px;
            top: 5px;
            cursor: pointer;
        }
        input[type="submit"] {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }
}
