@import "theme_tas/*.png";
@include all-theme_tas-sprites;
.search-result {
    color: #A82124;
    .bar {
        border-bottom-color: #A82124;
        .left {
            background-color: #F9C9BA;
            .updated-time {
                color: #A82124;
            }
        }
        .right-item {
            background-color: #F9C9BA;
        }
    }
    .content {
        border-color: #A82124;
        right-content {
            .info-set {
                .title {
                    color: #A82124;
                }
            }
        }
    }
    .theme-sprite {
        @extend .theme_tas-sprite;
    }
    .theme-icon-fa {
        @extend .theme_tas-fa;
    }
    .theme-icon-fb {
        @extend .theme_tas-fb;
    }
    .theme-icon-fc {
        @extend .theme_tas-fc;
    }
    .theme-icon-fd {
        @extend .theme_tas-fd;
    }
    .theme-icon-fe {
        @extend .theme_tas-fe;
    }
    .theme-icon-ff {
        @extend .theme_tas-ff;
    }
    .theme-icon-fg {
        @extend .theme_tas-fg;
    }
    .theme-icon-contact {
        @extend .theme_tas-contact;
    }
    .theme-icon-detail {
        @extend .theme_tas-detail
    }
    .theme-icon-house {
        @extend .theme_tas-house;
    }
    .theme-icon-map {
        @extend .theme_tas-map;
    }
    .theme-icon-packer {
        @extend .theme_tas-packer;
    }
    .theme-icon-pic {
        @extend .theme_tas-pic;
    }
    .theme-icon-arrow_left {
        @extend .theme_tas-arrow_left;
    }
    .theme-icon-arrow_right {
        @extend .theme_tas-arrow_right;
    }

}
