{{^singleMessage}}
<div class="delete-dialog hidden">
    <div class="info">
        <div class="admin-delete admin-sprite"></div>
        <div>{{& i18n.ADMIN_ARE_YOU_SURE_MESSAGE}}</div>
        <div class="clean"></div>
    </div>
    <div class="btn-area">
        <div class="btn btn-delete">{{i18n.ADMIN_DELETE}}</div>
        <div class="btn btn-cancel">{{i18n.ADMIN_CANCEL}}</div>
        <div class="clean"></div>
    </div>
    <div class="admin-close_big admin-sprite" id="close-delete-dialog-btn"></div>
</div>
{{#messagesSets}}
<div id="message-{{talker}}" class="message" data-id="{{talker}}" data-count="{{count}}">
<img class="talker-photo" src="{{photoUrl}}"><div class="talker-title">{{i18n.ADMIN_TALKING_WITH}} <span>{{talkerName}}</span>:</div>
<!--    {{#previous}}<div id="previous-messages-btn">(<a href="#" data-id="{{talker}}">{{i18n.ADMIN_PREVIOUS_MESSAGES}}</a>)</div>{{/previous}}
    <div class="container" data-id="{{talker}}">
    {{#messages}}
    <div class="message-single">
        <span class="title">{{senderInfo.name}}</span> {{i18n.ADMIN_MESSAGES_SAID}} {{^isSuggestion}}To <span class="title">{{receiverInfo.name}}{{/isSuggestion}}</span> ({{created_time}}):
        <div class="message-body">{{&message}}</div>
    </div>
    {{/messages}}
    </div>
    <div class="messages-form">
        <form action="ajax/messages.php" data-id={{talker}} id="message-form-{{talker}}">
            <input type="hidden" name="action" value="add"></input>
            <input type="hidden" name="id" value="{{talker}}"></input>
            <textarea type="text" name="message" placeholder="{{i18n.ADMIN_LEAVE_MESSAGE}}"></textarea>
            <input type="submit" value="{{i18n.ADMIN_MESSAGES_REPLY}}" data-id="{{talker}}"></input>
            <div class="clean"></div>
        </form>
    </div>
-->
    <div class="messages-form">
        <form action="ajax/messages.php" data-id={{talker}} id="message-form-{{talker}}">
            <input type="hidden" name="action" value="add"></input>
            <input type="hidden" name="id" value="{{talker}}"></input>
            <textarea type="text" name="message" placeholder="{{i18n.ADMIN_LEAVE_MESSAGE}}"></textarea>
            <input type="submit" value="{{i18n.ADMIN_MESSAGES_REPLY}}" data-id="{{talker}}"></input>
            <div class="clean"></div>
        </form>
    </div>
    <div class="container" data-id="{{talker}}">
    {{#messages}}
    <div class="message-single">
        <span class="title">{{senderInfo.name}}</span> {{i18n.ADMIN_MESSAGES_SAID}} {{^isSuggestion}}To <span class="title">{{receiverInfo.name}}{{/isSuggestion}}</span> ({{created_time}}):
        <div class="message-body">{{&message}}</div>
    </div>
    {{/messages}}
    </div>
    {{#previous}}<div id="previous-messages-btn">(<a href="#" data-id="{{talker}}">{{i18n.ADMIN_PREVIOUS_MESSAGES}}</a>)</div>{{/previous}}
    <div class="admin-sprite admin-close" data-id="{{talker}}"></div>
</div>
{{/messagesSets}}
{{/singleMessage}}
{{#singleMessage}}
    {{talker}}
{{#messagesSets}}
    {{#messages}}
    <div class="message-single">
        <span class="title">{{senderInfo.name}}</span> {{i18n.ADMIN_MESSAGES_SAID}} {{^isSuggestion}}To <span class="title">{{receiverInfo.name}}{{/isSuggestion}}</span> ({{created_time}}):
        <div class="message-body">{{&message}}</div>
    </div>
    {{/messages}}
{{/messagesSets}}
{{/singleMessage}}
{{#messages}}
<div id="message-{{id}}" class="message">
    <div class="container">
    <div class="message-single">
        <a href="mailto:{{senderInfo.mail}}"><span class="title">{{senderInfo.name}}</span></a> {{i18n.ADMIN_MESSAGES_SAID}} {{^isSuggestion}}To <span class="title">{{receiverInfo.name}}{{/isSuggestion}}</span> ({{created_time}}):
        <div class="message-body">{{&message}}</div>
        <form action="account_action.php" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="action" value="delete-suggestion">
            <input type="hidden" name="id" value="{{id}}">
            <input type="hidden" name="userid" value="{{sender}}">
            <input type="submit" value="Delete"></input>
        </from>
    </div>
    {{#replies}}
        <div class="message-single reply">
            <span class="title">{{senderInfo.name}}</span> {{i18n.ADMIN_MESSAGES_SAID}} ({{created_time}}):
            <div class="message-body">{{&message}}</div>
        </div>
    {{/replies}}
    </div>
    {{^isSuggestion}}
    <div class="reply-form">
        <form action="ajax/admin_action.php" data-id={{id}} id="reply-form-{{id}}">
            <input type="hidden" name="action" value="reply-messages"></input>
            <input type="hidden" name="messageId" value="{{id}}"></input>
            <textarea type="text" name="message" placeholder="{{i18n.ADMIN_LEAVE_MESSAGE}}"></textarea>
            <input type="submit" value="{{i18n.ADMIN_MESSAGES_REPLY}}" data-id="{{id}}"></input>
            <div class="clean"></div>
        </form>
    </div>
    {{/isSuggestion}}
    {{#canDelete}}<div class="admin-sprite admin-close" data-id="{{id}}"></div>{{/canDelete}}
</div>
{{/messages}}
