<div id="suggestion">
    <form id="suggestion-form">
        <input type="hidden" name="action" value="suggestions"></input>
        <div class="big-title">{{i18n.ADMIN_SUGGESTION_TITLE}}</div>
        <div class="desc">{{&i18n.ADMIN_SUGGESTION_DESC}}</div>
        <textarea name="message" rows="4" placeholder="{{i18n.SEARCH_RESULT_MESSAGE_LEAVE_MESSAGE}}"></textarea>
        <input type="submit" value="{{i18n.SEARCH_RESULT_MESSAGE_SEND}}" data-id="{{backpacker.id}}"></input>
    </form>
</div>
