<div id="sort-bar">
    <div class="title">{{i18n.SEARCH_RESULT_VIEW_AS}}</div>
    <div class="sort-item {{#updatedTimeSelected}}selected{{/updatedTimeSelected}}">
        <div class="desc"><a href='{{updatedTimeUrl}}'>{{i18n.SEARCH_RESULT_UPDATED_TIME}}</a></div>
        <a href='{{updatedTimeUrl}}'><div class="listing-sort{{#updatedTimeD}}_d{{/updatedTimeD}} listing-sprite"></div></a>
    </div>
    <div class="sort-item {{#priceSelected}}selected{{/priceSelected}}">
        <div class="desc"><a href='{{priceUrl}}'>{{i18n.SEARCH_RESULT_RENT}}</a></div>
        <a href='{{priceUrl}}'><div class="listing-sort{{#priceD}}_d{{/priceD}} listing-sprite"></div></a>
    </div>
    <div class="sort-item {{#durationSelected}}selected{{/durationSelected}}">
        <div class="desc"><a href='{{durationUrl}}'>{{i18n.SEARCH_RESULT_DURATION}}</a></div>
        <a href='{{durationUrl}}'><div class="listing-sort{{#durationD}}_d{{/durationD}} listing-sprite"></div></a>
    </div>
    <form action="{{action}}" method="GET" id="search-form-sortbar">
        <div class="input-set">
            <div id="search-btn-sortbar">
                <div class="listing-sprite listing-search_btn"></div>
            </div>
            <input type="text" name="keyword" size="20" value="{{get.keyword}}" placeholder="{{i18n.COMMON_SEARCH_ENTER_KEYWORD}}">
        </div>
        <input type="submit" style="height: 0px; width: 0px; border: none; padding: 0px;" hidefocus="true" />
    </form>
</div>
