<div id="sort-bar">
    <div class="title">{{i18n.SEARCH_RESULT_VIEW_AS}}</div>
    <div class="sort-item">
        <div class="desc">{{i18n.SEARCH_RESULT_UPDATED_TIME}}</div>
        <div class="listing-sort listing-sprite"></div>
    </div>
    <div class="sort-item">
        <div class="desc">{{i18n.SEARCH_RESULT_RENT}}</div>
        <div class="listing-sort listing-sprite"></div>
    </div>
    <div class="sort-item">
        <div class="desc">{{i18n.SEARCH_RESULT_DURATION}}</div>
        <div class="listing-sort listing-sprite"></div>
    </div>
</div>
