<div id="menu-container">
    <div id="menu">
        <div class="btn">
            <div class="btn-container {{#isHouse}}selected{{/isHouse}}">
                <a href="/find_house.php">
                    <div class="menu-icon menu-sprite menu-find_houses"></div>
                    <div class="title">{{i18n.COMMON_MENU_FIND_HOUSES}}</div>
                </a>
            </div>
        </div>
        <div class="btn">
            <div class="btn-container {{#isBackpacker}}selected{{/isBackpacker}}">
                <a href="/find_backpacker.php">
                    <div class="menu-icon menu-sprite menu-find_customers"></div>
                    <div class="title">{{i18n.COMMON_MENU_FIND_CUSTOMERS}}</div>
                </a>
            </div>
        </div>
        <div class="btn btn-right">
            {{#isLogin}}
                <div class="btn-container">
                    <div class="title">{{settingsText}}</div>
                    <div class="menu-icon menu-sprite menu-settings"></div>
                </div>
                <div class="extension-link hidden">
                    {{#isSuperUser}}
                        <a href="./superadmin.php"><div class="extension-item">{{i18n.SUPER_ADMIN_COMMON_MENU}}</div></a>
                        <a href="./admin.php?action=logout"><div class="extension-item">{{i18n.COMMON_MENU_LOGOUT}}</div></a>
                    {{/isSuperUser}}
                    {{^isSuperUser}}
                        <a href="./admin.php?action=basic"><div class="extension-item">{{i18n.COMMON_MENU_BASIC_INFO}}</div></a>
                        <a href="./admin.php?action=settings"><div class="extension-item">{{i18n.COMMON_MENU_SETTINGS}}</div></a>
                        {{#showProfit}}
                            <a href="./admin.php?action=profits"><div class="extension-item">{{i18n.COMMON_MENU_PROFITS}}</div></a>
                        {{/showProfit}}
                        <a href="./admin.php?action=messages"><div class="extension-item">{{i18n.COMMON_MENU_MESSAGES}}</div></a>
                        <a href="./admin.php?action=suggestion"><div class="extension-item">{{i18n.COMMON_MENU_SUGGEST}}</div></a>
                        {{#user.isSuper}}
                            <a href="./superadmin.php"><div class="extension-item">{{i18n.SUPER_ADMIN_COMMON_MENU}}</div></a>
                        {{/user.isSuper}}
                        <a href="./admin.php?action=logout"><div class="extension-item">{{i18n.COMMON_MENU_LOGOUT}}</div></a>
                    {{/isSuperUser}}
                </div>
            {{/isLogin}}
            {{^isLogin}}
                <div class="btn-container nonLogin">
                    <div class="title">{{settingsText}}</div>
                    <div class="menu-icon menu-sprite menu-settings"></div>
                </div>
            {{/isLogin}}
        </div>
        <div class="btn btn-right" id="message-alert-area">
            <div id="unread-alert">
                <a href="./admin.php?action=messages">
                    <div class="menu-sprite menu-message"></div>
                </a>
            </div>
        </div>

        <div class="clean"></div>
    </div>
</div>
