<div id="search-menu">
    <div class="green-title">
        <div class="listing-sprite listing-search"></div>
        <div class="title">{{i18n.COMMON_SEARCH_CONDITIONAL_SEARCH}}</div>
    </div>
    <form action="{{action}}" method="GET" id="search-form">
        <input type="hidden" name="state" value="">
        <div id="map-all" class="map-map_all">
            {{#states}}
                <div class="map-map_{{class}} map-item {{^default}}unselected{{/default}}" data-id="{{id}}"></div>
            {{/states}}
        </div>
        <div class="input-set">
            <div class="title">{{i18n.COMMON_SEARCH_SUBERBS_REGION}}</div>
            <select class="city-selection" name="city">
                <option value=""></option>
                {{#cities}}
                    <option value="{{id}}">{{name}}</option>
                {{/cities}}
            </select>
        </div>
        <div class="input-set">
            <div class="title">{{i18n.COMMON_SEARCH_DURATION}}</div>
            <input type="text" name="ds" size="16" placeholder="{{todayText}}"><div class="listing-sprite listing-calendar" id="cal-btn-start"></div>
            <div class="clean"></div>
            <div class="title">{{i18n.COMMON_SEARCH_TO}}</div>
            <input type="text" name="de" size="16" placeholder="{{nextYearText}}"><div class="listing-sprite listing-calendar" id="cal-btn-end"></div>
            <div class="clean"></div>
        </div>
        </br>
        <div class="input-set">
            <div class="title">{{i18n.COMMON_SEARCH_RENT}}</div>
            <select class="rent-selection" name="rent">
                <option value=""></option>
                {{#houseDimemsions.acceptable_rent}}
                    <option value="{{.}}">{{.}}</option>
                {{/houseDimemsions.acceptable_rent}}
            </select>
        </div>
        <div class="input-set">
            <div class="title sec-title">{{i18n.COMMON_SEARCH_BEDS}}</div>
            <div class="title sec-title desc">{{i18n.COMMON_SEARCH_BEDS_DESC}}</div>
            <div class="clean"></div>
            <div class="title sec-title">{{i18n.COMMON_SEARCH_BEDS_S}}</div>
            <select name="bs" class="short">
                <option value=""></option>
                {{#houseDimemsions.beds.single}}
                    <option value="{{.}}">{{.}}</option>
                {{/houseDimemsions.beds.single}}
            </select>
            <div class="title sec-title">{{i18n.COMMON_SEARCH_BEDS_D}}</div>
            <select name="bd" class="short">
                <option value=""></option>
                {{#houseDimemsions.beds.double}}
                    <option value="{{.}}">{{.}}</option>
                {{/houseDimemsions.beds.double}}
            </select>
        </div>
        <div class="input-set">
            <input type="text" name="keyword" size="20" placeholder="{{i18n.COMMON_SEARCH_ENTER_KEYWORD}}">
            <div class="clean"></div>
        </div>
        <div class="input-set">
            <center>
            <div id="search-btn">
                <div class="listing-sprite listing-search_btn"></div>
                <div class="title">{{i18n.COMMON_SEARCH_SEARCH_BTN}}</div>
            </div>
            </center>
        </div>
    </form>
</div>
