<div id="favorites">
    <div class="green-title">
        <div class="listing-sprite listing-favorite"></div>
        <div class="title">{{i18n.COMMON_SEARCH_MY_FAVORITE}}</div>
    </div>
    <div class="favorites">
    {{#favoritesInfo}}
        <div class="favorite-set">
            <div class="listing-sprite listing-delete" data-id="{{id}}" data-role="{{role}}"></div>
            <div class="title hint" data-hint="{{name}}"><a class="hint" href="#" data-hint="{{name}}" data-id="{{id}}" data-role="{{role}}">{{name}}</a></div>
            <div class="clean"></div>
        </div>
    {{/favoritesInfo}}
     <div class="no-favs {{#favoritesInfo}} hidden{{/favoritesInfo}}">{{i18n.SEARCH_NO_FAVS}}</div>
    </div>
</div>
