<form name="login" method="post" action="login.php">
   {{i18n.LOGIN_USERID}} <input type="text" name="id"><br>
   {{i18n.LOGIN_PW}} <input type="password" name="password"><br>
   {{i18n.LOGIN_REMEMBERME}} <input type="checkbox" name="isremember" value="1"><br>
   <input type="submit" name="submit" value="{{i18n.LOGIN_BTN}}">
</form>
