<div id="role-switcher">
    <div class="container">
        <div class="title">{{i18n.REG_IM}}</div>
        <div id="backpacker-btn" class="switcher-btn">{{i18n.REG_BACKPACKER}}</div>
        <div id="houseowner-btn" class="switcher-btn">{{i18n.REG_HOUSEOWNER}}</div>
    </div>
</div>
