{{^updateBtn}}
<div class="pp-field">
    <input type="checkbox" name="agree" value="1"><span class="sub-title">{{i18n.REG_VIEW_PP}}<a href="">{{i18n.REG_PP}}</a></span>
</div>
<input id="{{role}}-submit" type="submit" value="{{i18n.REG_PUBLISH_NOW}}">
{{/updateBtn}}
{{#updateBtn}}
<input id="{{role}}-submit" type="submit" value="{{i18n.REG_SAVE}}">
{{/updateBtn}}
