<div id="header">
    <div class="header-container">
        <div class="desc">{{i18n.REG_ALREADY_MEMBER}}</div>
        <div class="registerform-login">{{i18n.REG_LOGIN}}</div>
    </div>
</div>

<div class="login-panel hidden">
    <div id="welcome-board" class="find-house">
        <div class="registerform-close registerform-sprite"></div>
        <form name="login" method="post" action="login.php">
            <div class="option-set"><div class="title">{{i18n.LOGIN_USERID}}</div> <input type="text" name="id"></div>
            <div class="option-set"><div class="title">{{i18n.LOGIN_PW}}</div> <input type="password" name="password"></div>
            <div class="option-set">
                <input type="checkbox" name="isremember" value="1"><span class="sub-title">{{i18n.LOGIN_REMEMBERME}}</span>
                <span class="sub-title seperator"></span>
                <span class="sub-title"><a href="forget_pw.php">{{i18n.LOGIN_FORGET_PW}}</a></span>
            </div>
            <div class="option-set"><input type="submit" name="submit" value="{{i18n.LOGIN_BTN}}"></div>
            <div class="language-switcher">
                {{#isEng}}
                    <span class="sub-title"><a href="/?lang=zh-hant-tw">{{i18n.LOGIN_CHINESE}}</a></span>
                    <span class="sub-title seperator"></span>
                    <span class="sub-title">{{i18n.LOGIN_ENGLISH}}</span>
                {{/isEng}}
                {{#isTw}}
                    <span class="sub-title">{{i18n.LOGIN_CHINESE}}</span>
                    <span class="sub-title seperator"></span>
                    <span class="sub-title"><a href="/?lang=en-us">{{i18n.LOGIN_ENGLISH}}</a></span>
                {{/isTw}}
            </div>
        </form>
        <a href="register.php"><div class="register-now-main-btn hidden">{{i18n.LOGIN_REGISTER_NOW}}</div></a>
    </div>
</div>
