    <div class="big-title">{{i18n.REG_HOW_TO_CONTACT_ME}}</div>
    <!--
    <div class="input-set">
        <div class="title contact-title">{{i18n.REG_NAME}}</div>
        <input type="text" MAXLENGTH=20 size="45" name="name" placeholder="{{i18n.REG_NAME_PLACEHOLDER}}">
    </div>
    -->
    <div class="input-set">
        <div class="title contact-title">{{i18n.REG_EMAIL}}</div>
        <input type="text" MAXLENGTH=30 size="45" name="email" placeholder="{{i18n.REG_EMAIL_PLACEHOLDER}}" value="{{user.mail}}"> <input type="checkbox" name="email_p" value="1" {{#user.mail_p}}checked{{/user.mail_p}}><span class="sub-title">{{i18n.REG_PUBLISH}}</span>
    </div>
    <div class="input-set">
        <div class="title contact-title">{{i18n.REG_PHONE}}</div>
        <input type="text" MAXLENGTH=15 size="45" name="phone" placeholder="{{i18n.REG_PHONE_PLACEHOLDER}}" value="{{user.phone}}"> <input type="checkbox" name="phone_p" value="1" {{#user.phone_p}}checked{{/user.phone_p}}><span class="sub-title">{{i18n.REG_PUBLISH}}</span>
    </div>
