    <input type="hidden" name="state" value="1">
    <div id="go-to-title" class="big-title">{{i18n.REG_GO_TO}}</div>
    <div id="map-all" class="map_big-map_all_big">
        {{#states}}
            <div class="map_big-map_{{class}}_big map-item {{^default}}unselected{{/default}}" data-id="{{id}}"></div>
        {{/states}}
    </div>
    <div class="input-set">
        <div class="title">{{i18n.REG_CITY}}</div>
        <select class="city-selection" name="city">
            {{#cities}}
                <option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>
            {{/cities}}
        </select>
    </div>
    <div class="input-set">
        <div class="title">{{i18n.REG_ARRIVAL_TIME}}</div>
        <input type="text" name="arrival_time" size="16" placeholder="{{todayText}}" value="{{backpacker.arrival_time}}"><div class="registerform-calendar registerform-icon" id="cal-btn-arrival"></div>
    </div>
    <div class="input-set">
        <div class="title">{{i18n.REG_DURATION}}</div>
        <input type="text" name="duration_start" size="16" placeholder="{{todayText}}" value="{{backpacker.duration_start}}"><div class="registerform-calendar registerform-icon" id="cal-btn-start"></div>
        <div class="title sec-title">{{i18n.REG_TO}}</div>
        <input type="text" name="duration_end" size="16" placeholder="{{nextYearText}}" value="{{backpacker.duration_end}}"><div class="registerform-calendar registerform-icon" id="cal-btn-end"></div>
    </div>
    
    <div class="input-set">
        <div class="title">{{i18n.REG_BEDS}}</div>
        <div class="title sec-title">{{i18n.REG_SINGLE}}</div>
        <select name="bed_single">
            {{#houseDimemsions.beds.single}}
                <option value="{{value}}" {{#selected}}selected{{/selected}}>{{value}}</option>
            {{/houseDimemsions.beds.single}}
        </select>
        <div class="title sec-title">{{i18n.REG_DOUBLE}}</div>
        <select name="bed_double">
            {{#houseDimemsions.beds.double}}
                <option value="{{value}}" {{#selected}}selected{{/selected}}>{{value}}</option>
            {{/houseDimemsions.beds.double}}
        </select>
    </div>

    <div class="big-title">{{i18n.REG_FACILITIES}}</div>

    <div class="input-set">
        <div class="title facility-title">{{i18n.REG_INTERNET}}</div>
        <div class="registerform-fa registerform-icon facility-icon"></div>
        <input type="radio" name="b-fa" value="1" {{#facilitiesCheck.fa}}checked{{/facilitiesCheck.fa}}><div class="title sec-title">{{i18n.REG_YES}}</div>
        <input type="radio" name="b-fa" value="0" {{^facilitiesCheck.fa}}checked{{/facilitiesCheck.fa}}><div class="title sec-title">{{i18n.REG_NO}}</div>
    </div>
    <div class="input-set">
        <div class="title facility-title">{{i18n.REG_KITCHEN}}</div>
        <div class="registerform-fb registerform-icon facility-icon"></div>
        <input type="radio" name="b-fb" value="1" {{#facilitiesCheck.fb}}checked{{/facilitiesCheck.fb}}><div class="title sec-title">{{i18n.REG_YES}}</div>
        <input type="radio" name="b-fb" value="0" {{^facilitiesCheck.fb}}checked{{/facilitiesCheck.fb}}><div class="title sec-title">{{i18n.REG_NO}}</div>
    </div>
    <div class="input-set">
        <div class="title facility-title">{{i18n.REG_TV}}</div>
        <div class="registerform-fc registerform-icon facility-icon"></div>
        <input type="radio" name="b-fc" value="1" {{#facilitiesCheck.fc}}checked{{/facilitiesCheck.fc}}><div class="title sec-title">{{i18n.REG_YES}}</div>
        <input type="radio" name="b-fc" value="0" {{^facilitiesCheck.fc}}checked{{/facilitiesCheck.fc}}><div class="title sec-title">{{i18n.REG_NO}}</div>
    </div>
    <div class="input-set">
        <div class="title facility-title">{{i18n.REG_REFRIGERATOR}}</div>
        <div class="registerform-fd registerform-icon facility-icon"></div>
        <input type="radio" name="b-fd" value="1" {{#facilitiesCheck.fd}}checked{{/facilitiesCheck.fd}}><div class="title sec-title">{{i18n.REG_YES}}</div>
        <input type="radio" name="b-fd" value="0" {{^facilitiesCheck.fd}}checked{{/facilitiesCheck.fd}}><div class="title sec-title">{{i18n.REG_NO}}</div>
    </div>
    <div class="input-set">
        <div class="title facility-title">{{i18n.REG_WASHER}}</div>
        <div class="registerform-fe registerform-icon facility-icon"></div>
        <input type="radio" name="b-fe" value="1" {{#facilitiesCheck.fe}}checked{{/facilitiesCheck.fe}}><div class="title sec-title">{{i18n.REG_YES}}</div>
        <input type="radio" name="b-fe" value="0" {{^facilitiesCheck.fe}}checked{{/facilitiesCheck.fe}}><div class="title sec-title">{{i18n.REG_NO}}</div>
    </div>
    <div class="input-set">
        <div class="title facility-title">{{i18n.REG_HEATER}}</div>
        <div class="registerform-ff registerform-icon facility-icon"></div>
        <input type="radio" name="b-ff" value="1" {{#facilitiesCheck.ff}}checked{{/facilitiesCheck.ff}}><div class="title sec-title">{{i18n.REG_YES}}</div>
        <input type="radio" name="b-ff" value="0" {{^facilitiesCheck.ff}}checked{{/facilitiesCheck.ff}}><div class="title sec-title">{{i18n.REG_NO}}</div>
    </div>
    <div class="input-set">
        <div class="title facility-title">{{i18n.REG_AC}}</div>
        <div class="registerform-fg registerform-icon facility-icon"></div>
        <input type="radio" name="b-fg" value="1" {{#facilitiesCheck.fg}}checked{{/facilitiesCheck.fg}}><div class="title sec-title">{{i18n.REG_YES}}</div>
        <input type="radio" name="b-fg" value="0" {{^facilitiesCheck.fg}}checked{{/facilitiesCheck.fg}}><div class="title sec-title">{{i18n.REG_NO}}</div>
    </div>
    <div class="input-set">
        <div class="title facility-title">{{i18n.REG_PARKING_SPACE}}</div>
        <div class="registerform-ud registerform-icon facility-icon"></div>
        <input type="radio" name="b-fh" value="1" {{#facilitiesCheck.fh}}checked{{/facilitiesCheck.fh}}><div class="title sec-title">{{i18n.REG_YES}}</div>
        <input type="radio" name="b-fh" value="0" {{^facilitiesCheck.fh}}checked{{/facilitiesCheck.fh}}><div class="title sec-title">{{i18n.REG_NO}}</div>
    </div>

    <div class="big-title">{{i18n.REG_NEED_HELP}}</div>
    <div class="input-set">
        <div class="title help-title">{{i18n.REG_TAKE_YOU_FROM_AIRPORT}}</div>
        <div class="registerform-ha registerform-icon listing-icon"></div>
        <input type="radio" name="b-ha" value="1" {{#helpsCheck.ha}}checked{{/helpsCheck.ha}}><div class="title sec-title">{{i18n.REG_YES}}</div>
        <input type="radio" name="b-ha" value="0" {{^helpsCheck.ha}}checked{{/helpsCheck.ha}}><div class="title sec-title">{{i18n.REG_NO}}</div>
        <select name="b-haa">
            {{#houseDimemsions.times}}
                <option value="{{value}}" {{#selected}}selected{{/selected}}>{{value}}</option>
            {{/houseDimemsions.times}}
        </select>
    </div>
    <div class="input-set">
        <div class="title help-title">{{i18n.REG_OPEN_BANK_ACCOUNT}}</div>
        <div class="registerform-hb registerform-icon listing-icon"></div>
        <input type="radio" name="b-hb" value="1" {{#helpsCheck.hb}}checked{{/helpsCheck.hb}}><div class="title sec-title">{{i18n.REG_YES}}</div>
        <input type="radio" name="b-hb" value="0" {{^helpsCheck.hb}}checked{{/helpsCheck.hb}}><div class="title sec-title">{{i18n.REG_NO}}</div>
    </div>
    <div class="input-set">
        <div class="title help-title">{{i18n.REG_APPLY_FOR_TFN}}</div>
        <div class="registerform-hc registerform-icon listing-icon"></div>
        <input type="radio" name="b-hc" value="1" {{#helpsCheck.hc}}checked{{/helpsCheck.hc}}><div class="title sec-title">{{i18n.REG_YES}}</div>
        <input type="radio" name="b-hc" value="0" {{^helpsCheck.hc}}checked{{/helpsCheck.hc}}><div class="title sec-title">{{i18n.REG_NO}}</div>
    </div>
    <div class="input-set">
        <div class="title help-title">{{i18n.REG_APPLY_FOR_SIM_CARD}}</div>
        <div class="registerform-hd registerform-icon listing-icon"></div>
        <input type="radio" name="b-hd" value="1" {{#helpsCheck.hd}}checked{{/helpsCheck.hd}}><div class="title sec-title">{{i18n.REG_YES}}</div>
        <input type="radio" name="b-hd" value="0" {{^helpsCheck.hd}}checked{{/helpsCheck.hd}}><div class="title sec-title">{{i18n.REG_NO}}</div>
    </div>
    <div class="input-set big-input-set">
        <span class="big-title">{{i18n.REG_ACCEPTABLE_RENT}}</span>
        <input type="text" size="6" name="rent" placeholder="{{i18n.REG_RENT_PLACEHOLDER}}" value="{{backpacker.rent_low}}">
        <div class="title sec-title">{{i18n.REG_AUD}}</div>
    </div>
