    <div class="big-title">{{i18n.REG_HOW_TO_CONTACT_ME}}</div>
    <!--
    <div class="input-set">
        <div class="title contact-title">{{i18n.REG_NAME}}</div>
        <input type="text" size="45" name="name" placeholder="{{i18n.REG_NAME_PLACEHOLDER}}">
    </div>
    -->
    <div class="input-set">
        <div class="title contact-title">{{i18n.REG_EMAIL}}</div>
        <input type="text" size="45" name="email" placeholder="{{i18n.REG_EMAIL_PLACEHOLDER}}">
    </div>
    <div class="input-set">
        <div class="title contact-title">{{i18n.REG_PHONE}}</div>
        <input type="text" size="45" name="phone" placeholder="{{i18n.REG_PHONE_PLACEHOLDER}}">
    </div>
