<div class="search-result">
    <div class="bar">
       <div class="left">
       </div> 
       <div class="right">
       </div>
    </div>
    <div class="content">
        <div class="left-content"> 
            <img src="{{photoUrl}}">
        </div>
        <div class="right-content">
            <div class="info-set">
                <div class="title">{{i18n.SEARCH_RESULT_TITLE_WANTED_SPACE}}</div>
                <div class="desc">{{place}}</div>
                
            </div>
        </div>
        <div class="clean"></div>
    </div>
</div>
