<div class="search-result theme_{{class}}" id="result-{{houseObject.id}}">
    <div class="bar">
       <div class="left left-house">
            <div class="theme-sprite theme-icon-house"></div>
            <div class="title hint" data-hint="{{houseObject.house_name}}">{{houseObject.house_name}}</div>
            <div class="updated-time">{{updatedText}}</div>
       </div> 
       <div class="right-item selected detail-btn">
           <div class="theme-sprite theme-icon-detail"></div> 
           <div class="white-bar"></div>
       </div>
       <div class="right-item pic-btn">
           <div class="theme-sprite theme-icon-pic"></div> 
           <div class="white-bar"></div>
       </div>
       <div class="right-item map-btn">
           <div class="theme-sprite theme-icon-map"></div> 
           <div class="white-bar"></div>
       </div>
       <div class="right-item hint {{^showContact}}need-sign-in-btn{{/showContact}}" data-hint="{{#showContact}}{{houseObject.user.name}}{{#houseObject.user.phone}}</br>{{houseObject.user.phone}}{{/houseObject.user.phone}}{{#houseObject.user.mail}}</br>{{houseObject.user.mail}}{{/houseObject.user.mail}}{{/showContact}}{{^showContact}}{{i18n.SEARCH_RESULT_SIGN_IN_TO_SEE_CONTACE}}{{/showContact}}">
           <div class="theme-sprite theme-icon-contact hint" data-hint="{{#showContact}}{{houseObject.user.name}}{{#houseObject.user.phone}}</br>{{houseObject.user.phone}}{{/houseObject.user.phone}}{{#houseObject.user.mail}}</br>{{houseObject.user.mail}}{{/houseObject.user.mail}}{{/showContact}}{{^showContact}}{{i18n.SEARCH_RESULT_SIGN_IN_TO_SEE_CONTACE}}{{/showContact}}"></div> 
           <div class="white-bar"></div>
       </div>
    </div>
    <div class="content">
        <div class="right-content combined-content">
            <div class="info-set">
                <div class="title">{{i18n.SEARCH_RESULT_TITLE_LOCATION}}</div>
                <div class="desc one-line-desc addr-desc hint" data-hint="{{place}}">{{place}}</div>
            </div>
            <div class="clean"></div>
            <div class="info-set">
                <div class="title">{{i18n.SEARCH_RESULT_TITLE_RENT}}</div>
                <div class="desc">{{houseObject.rent_low}} {{i18n.SEARCH_RESULT_AUD}}</div>
                <div class="title two-column">{{i18n.SEARCH_RESULT_TITLE_DURATION}}</div>
                <div class="desc two-column date-desc" style="width: auto">{{durationText}}</div>
            </div>
            <div class="clean"></div>
            <div class="info-set">
                <div class="title">{{i18n.SEARCH_RESULT_TITLE_DEVICE}}</div>
                <div class="desc">
                    {{#facilitiesArray}} 
                        <div class="theme-sprite listing-icon theme-icon-{{class}} hint" data-hint="{{hint}}" data-additional="{{additional}}"></div>
                    {{/facilitiesArray}}
                    {{^facilitiesArray}}
                        {{i18n.SEARCH_RESULT_NONE}}
                    {{/facilitiesArray}}
                </div>
                <div class="title two-column">{{i18n.SEARCH_RESULT_TITLE_SERVICE}}</div>
                <div class="desc">
                    {{#additionalHelpArray}} 
                        <div class="listing-sprite listing-icon listing-{{class}} hint" data-hint="{{hint}}{{#additional}}</br>{{additional}}{{/additional}}"></div>
                    {{/additionalHelpArray}}
                    {{^additionalHelpArray}}
                        {{i18n.SEARCH_RESULT_NONE}}
                    {{/additionalHelpArray}}
                </div>
            </div>
            <div class="clean"></div>
            <div class="info-set">
                <div class="title">{{i18n.SEARCH_RESULT_TITLE_HOUSE}}</div>
                <div class="desc one-line-desc">
                    <div class="listing-icon listing-rooms listing-sprite hint" data-hint="{{i18n.SEARCH_RESULT_ROOMS}}"></div><div class="inline-desc">{{houseObject.rooms}}</div>
                    <div class="listing-icon listing-beds listing-sprite hint" data-hint="{{i18n.SEARCH_RESULT_BEDS}}</br>{{i18n.COMMON_SEARCH_BEDS_SINGLE}}{{houseObject.beds_single}} / {{i18n.COMMON_SEARCH_BEDS_DOUBLE}}{{houseObject.beds_double}}"></div><div class="inline-desc">
                        {{i18n.COMMON_SEARCH_BEDS_S}}{{houseObject.beds_single}} / {{i18n.COMMON_SEARCH_BEDS_D}}{{houseObject.beds_double}}
                    </div>
                    <div class="listing-icon listing-toilet listing-sprite hint" data-hint="{{i18n.SEARCH_RESULT_TOILETS}}"></div><div class="inline-desc">{{houseObject.toilets}}</div>
                    <div class="listing-icon listing-parking listing-sprite hint" data-hint="{{i18n.SEARCH_RESULT_PARKING}}"></div><div class="inline-desc">{{houseObject.parking_space}}</div>
                    <div class="listing-icon listing-wecharge listing-sprite hint" data-hint="{{i18n.SEARCH_RESULT_UTILITY_BILLS}}"></div><div class="inline-desc">{{weChargeText}}</div>
                </div>
            </div>
                <div class="action-btns">
                    {{#user}}
                        <div class="listing-send_message listing-sprite" data-id="{{houseObject.id}}"></div>
                    {{/user}}
                    {{#showActionBtns}}
                    <div class="listing-save_favorite listing-sprite" data-id="{{houseObject.id}}"></div>
                    {{/showActionBtns}}
                </div>
                {{#user}}
                <div class="message-panel hidden" id="message-panel-board-result-{{houseObject.id}}">
                    <form id="message-panel-{{houseObject.id}}">
                        <input type="hidden" name="action" value="add"></input>
                        <input type="hidden" name="type" value="message"></input>
                        <input type="hidden" name="id" value="{{houseObject.owner_id}}"></input>
                        <div class="title"><a href="#">{{user.name}}</a></div>
                        <div class="desc">{{i18n.SEARCH_RESULT_MESSAGE_SAID}}: ({{todayText}})</div>
                        <div class="clean"></div>
                        <textarea name="message" rows="4" placeholder="{{i18n.SEARCH_RESULT_MESSAGE_LEAVE_MESSAGE}}"></textarea>
                        <div class="listing-delete listing-sprite"></div>
                        <input type="submit" value="{{i18n.SEARCH_RESULT_MESSAGE_SEND}}" data-id="{{houseObject.id}}"></input>
                    </form>
                </div>
                {{/user}}
        </div>
        <div class="clean"></div>
        <div class="pic-content {{#isScroll}}is-scroll{{/isScroll}} hidden">
            <div class="arrow-area">
                {{#isScroll}}
                    <div class="theme-sprite theme-arrow theme-icon-arrow_left"></div>
                {{/isScroll}}
            </div>
            <div class="pics yui3-scrollview-loading">
                <ul>
                    {{#photos}}
                        <li><img src="/ugc/c_{{.}}" data-src="{{.}}"></li>
                    {{/photos}}
                </ul>
            </div>
            <div class="arrow-area">
                {{#isScroll}}
                    <div class="theme-sprite theme-arrow theme-icon-arrow_right"></div>
                {{/isScroll}}
            </div>
        </div>
        <div class="clean"></div>
        <div class="right-content map-content hidden">
            <div id="result-{{houseObject.id}}-map" data-address="{{place}}" class="map"></div>
            <div class="location-info">
                <div class="title">{{i18n.SEARCH_RESULT_MAP_TITLE}}</div>
                <div class="clean"></div>
                <ul>
                    {{#descriptions}}
                        <li><div class="desc">{{.}}</div></liv>
                    {{/descriptions}}
                </ul>
            </div>
        </div>
        <div class="clean"></div>
        {{#showId}}
            <div class="id-field">
                User ID: {{houseObject.owner_id}}</br>
                Object ID: {{houseObject.id}}</br>
            </div>
        {{/showId}}
    </div>
</div>
