<div class="search-result theme_{{class}}" id="result-{{backpacker.id}}">
    <div class="bar">
       <div class="left">
            <div class="theme-sprite theme-icon-packer"></div>
            <div class="title">{{backpacker.name}}</div>
            <img src="/img/flags/{{countryFlag}}.jpg">
            <div class="updated-time">{{updatedText}}</div>
       </div> 
       <div class="right-item">
           <div class="theme-sprite theme-icon-contact"></div> 
           <div class="white-bar"></div>
       </div>
    </div>
    <div class="content">
        <div class="left-content"> 
            <img src="{{photoUrl}}">
        </div>
        <div class="right-content">
            <div class="info-set">
                <div class="title">{{i18n.SEARCH_RESULT_TITLE_WANTED_SPACE}}</div>
                <div class="desc one-line-desc">{{place}}</div>
            </div>
            <div class="clean"></div>
            <div class="info-set">
                <div class="title">{{i18n.SEARCH_RESULT_TITLE_ARRIVAL}}</div>
                <div class="desc">{{arrivalTime}}</div>
                <div class="title two-column">{{i18n.SEARCH_RESULT_TITLE_DURATION}}</div>
                <div class="desc two-column">{{durationText}}</div>
            </div>
            <div class="info-set">
                <div class="title">{{i18n.SEARCH_RESULT_TITLE_ACCEPTABLE_RENT}}</div>
                <div class="desc">{{backpacker.rent_low}} {{i18n.SEARCH_RESULT_AUD}}</div>
                <div class="title two-column">{{i18n.SEARCH_RESULT_TITLE_BED}}</div>
                <div class="desc two-column">{{bedText}}</div>
            </div>
            <div class="clean"></div>
            <div class="info-set">
                <div class="title">{{i18n.SEARCH_RESULT_TITLE_EXPECTABLE}}</div>
                <div class="desc one-line-desc">
                    {{#additionalHelpArray}} 
                        <div class="listing-sprite listing-icon listing-{{class}}" data-additional="{{additional}}"></div>
                    {{/additionalHelpArray}}
                    {{^additionalHelpArray}}
                        {{i18n.SEARCH_RESULT_NONE}}
                    {{/additionalHelpArray}}
                </div>
            </div>
            <div class="info-set">
                <div class="title"> </div>
                <div class="desc one-line-desc">
                    {{#facilitiesArray}} 
                        <div class="theme-sprite listing-icon theme-icon-{{class}}" data-additional="{{additional}}"></div>
                    {{/facilitiesArray}}
                    {{^facilitiesArray}}
                        {{i18n.SEARCH_RESULT_NONE}}
                    {{/facilitiesArray}}
                </div>
            </div>
        </div>
        <div class="clean"></div>
        {{#showActionBtns}}
            <div class="action-btns">
                <div class="listing-send_message listing-sprite" data-id="{{backpacker.id}}"></div>
                <div class="listing-save_favorite listing-sprite" data-id="{{backpacker.id}}"></div>
            </div>
                <div class="message-panel hidden" id="message-panel-board-result-{{backpacker.id}}">
                    <form id="message-panel-{{backpacker.id}}">
                        <input type="hidden" name="action" value="add"></input>
                        <input type="hidden" name="type" value="message"></input>
                        <input type="hidden" name="id" value="{{backpacker.user_id}}"></input>
                        <div class="title"><a href="#">{{user.name}}</a></div>
                        <div class="desc">{{i18n.SEARCH_RESULT_MESSAGE_SAID}}: ({{todayText}})</div>
                        <div class="clean"></div>
                        <textarea name="message" rows="4" placeholder="{{i18n.SEARCH_RESULT_MESSAGE_LEAVE_MESSAGE}}"></textarea>
                        <div class="listing-delete listing-sprite"></div>
                        <input type="submit" value="{{i18n.SEARCH_RESULT_MESSAGE_SEND}}" data-id="{{backpacker.id}}"></input>
                    </form>
                </div>
        {{/showActionBtns}}
    </div>
</div>
