<div id="admin-menu">
    <div class="title {{#s_suggestion}}selected{{/s_suggestion}}"><a id="suggest-btn" href="./superadmin.php?action=messages">{{i18n.SUPER_ADMIN_COMMON_MENU_SUGGESTIONS}}</a></div>
    <div class="seperator"></div>
    <div class="title {{#s_dreports}}selected{{/s_dreports}}"><a id="suggest-btn" href="./superadmin.php?action=dreports">{{i18n.SUPER_ADMIN_COMMON_MENU_REPORTS_DAILY}}</a></div>
    <div class="seperator"></div>
    <div class="title {{#s_mreports}}selected{{/s_mreports}}"><a id="suggest-btn" href="./superadmin.php?action=mreports">{{i18n.SUPER_ADMIN_COMMON_MENU_REPORTS_MONTHLY}}</a></div>
    <div class="seperator"></div>
    <div class="title {{#s_simulator}}selected{{/s_simulator}}"><a id="suggest-btn" href="./superadmin.php?action=simulator">{{i18n.SUPER_ADMIN_COMMON_MENU_USER_SIMULATOR}}</a></div>
    <div class="seperator"></div>
    <div class="title {{#s_delete}}selected{{/s_delete}}"><a id="suggest-btn" href="./superadmin.php?action=delete">{{i18n.SUPER_ADMIN_COMMON_MENU_USER_DELETE}}</a></div>
    <div class="seperator"></div>
    <div class="title {{#s_backpackers}}selected{{/s_backpackers}}"><a id="suggest-btn" href="./superadmin.php?action=backpackers">Backpackers</a></div>
    <div class="seperator"></div>
    <div class="title {{#s_houseowners}}selected{{/s_houseowners}}"><a id="suggest-btn" href="./superadmin.php?action=houseowners">HouseOwners</a></div>
    <div class="seperator"></div>
    <div class="title {{#s_houseobjects}}selected{{/s_houseobjects}}"><a id="suggest-btn" href="./superadmin.php?action=houseobjects">HouseObjects</a></div>
</div>
