<div id="admin-menu">
    <div class="title {{#s_suggestion}}selected{{/s_suggestion}}"><a id="suggest-btn" href="./superadmin.php?action=messages">{{i18n.SUPER_ADMIN_COMMON_MENU_SUGGESTIONS}}</a></div>
    <div class="seperator"></div>
    <div class="title {{#s_dreports}}selected{{/s_dreports}}"><a id="suggest-btn" href="./superadmin.php?action=dreports">{{i18n.SUPER_ADMIN_COMMON_MENU_REPORTS_DAILY}}</a></div>
    <div class="seperator"></div>
    <div class="title {{#s_mreports}}selected{{/s_mreports}}"><a id="suggest-btn" href="./superadmin.php?action=mreports">{{i18n.SUPER_ADMIN_COMMON_MENU_REPORTS_MONTHLY}}</a></div>
</div>
