/* line 162, admin/*.png */
.admin-sprite, .admin-add_property, .admin-alteration, .admin-arrow-left, .admin-arrow-right, .admin-calendar, .admin-calendar_big, .admin-close, .admin-close_big, .admin-delete, .admin-equal, .admin-money1, .admin-money2, .admin-people, .admin-people_b, .admin-people_h, .admin-plus {
  background: url('/img/admin-sd91c824aa2.png') no-repeat;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-add_property {
  background-position: 0 -62px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-alteration {
  background-position: 0 -38px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-arrow-left {
  background-position: 0 -193px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-arrow-right {
  background-position: 0 -271px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-calendar {
  background-position: 0 -299px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-calendar_big {
  background-position: 0 -315px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-close {
  background-position: 0 -123px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-close_big {
  background-position: 0 -104px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-delete {
  background-position: 0 0;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-equal {
  background-position: 0 -333px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-money1 {
  background-position: 0 -256px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-money2 {
  background-position: 0 -238px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-people {
  background-position: 0 -221px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-people_b {
  background-position: 0 -151px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-people_h {
  background-position: 0 -172px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-plus {
  background-position: 0 -137px;
}

/* line 5, ../scss/admin_common.scss */
.main-container {
  width: 720px;
  margin: 0 auto;
}

/* line 9, ../scss/admin_common.scss */
.col-combined {
  width: 720px;
}

/* line 12, ../scss/admin_common.scss */
.col-left-left-big {
  width: 558px;
  padding-bottom: 40px;
}

/* line 16, ../scss/admin_common.scss */
.col-right-left-big {
  width: 160px;
  margin-left: 2px;
}

/* line 21, ../scss/admin_common.scss */
#admin-menu {
  margin: 10px 0;
  position: relative;
  height: 24px;
}
/* line 25, ../scss/admin_common.scss */
#admin-menu div {
  float: left;
}
/* line 28, ../scss/admin_common.scss */
#admin-menu .margin-left-area {
  width: 125px;
  height: 10px;
}
/* line 32, ../scss/admin_common.scss */
#admin-menu .admin-alteration {
  width: 114px;
  height: 24px;
  position: absolute;
  left: -20px;
}
/* line 38, ../scss/admin_common.scss */
#admin-menu .seperator {
  width: 1.3px;
  height: 24px;
  margin: 0 10px;
  background-color: #666666;
}
/* line 44, ../scss/admin_common.scss */
#admin-menu .title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 3px;
}
/* line 48, ../scss/admin_common.scss */
#admin-menu .title a {
  color: #666666;
}

/* line 54, ../scss/admin_common.scss */
#admin-tabs {
  width: 100%;
  height: 41px;
  border-bottom: 1px solid #232323;
}
/* line 58, ../scss/admin_common.scss */
#admin-tabs .admin-tab {
  position: relative;
  bottom: -2px;
  margin: 0 2px;
  float: left;
  height: 20px;
  padding: 9px 25px;
  -webkit-border-radius: 0px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius: 0px;
  -moz-border-radius-top-right: 10px;
  -moz-border-radius-top-left: 10px;
  border-radius: 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-style: solid;
  border-width: 1px;
}

/* line 82, ../scss/admin_common.scss */
.backpacker #admin-menu .title a:hover {
  color: #00A99D;
}
/* line 87, ../scss/admin_common.scss */
.backpacker #admin-menu .title.selected a {
  color: #00A99D;
}
/* line 92, ../scss/admin_common.scss */
.backpacker #admin-tabs {
  color: #007063;
  border-bottom: 1px solid #007063;
}
/* line 95, ../scss/admin_common.scss */
.backpacker #admin-tabs .admin-tab {
  cursor: pointer;
  background-color: #ffffff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMzIlIiBzdG9wLWNvbG9yPSIjMDBhOTlkIi8+PHN0b3Agb2Zmc2V0PSI2NiUiIHN0b3AtY29sb3I9IiMwMGE5OWQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #ffffff), color-stop(32%, #00a99d), color-stop(66%, #00a99d), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff 1%, #00a99d 32%, #00a99d 66%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #ffffff 1%, #00a99d 32%, #00a99d 66%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #ffffff 1%, #00a99d 32%, #00a99d 66%, #ffffff 100%);
  background-image: linear-gradient(top, #ffffff 1%, #00a99d 32%, #00a99d 66%, #ffffff 100%);
}
/* line 102, ../scss/admin_common.scss */
.backpacker #admin-tabs .admin-tab.selected {
  border-bottom-color: #FFF;
}

/* line 111, ../scss/admin_common.scss */
.houseowner #admin-menu .title a:hover {
  color: #007AFA;
}
/* line 116, ../scss/admin_common.scss */
.houseowner #admin-menu .title.selected a {
  color: #007AFA;
}
/* line 121, ../scss/admin_common.scss */
.houseowner #admin-tabs {
  color: #2E3192;
  border-bottom: 1px solid #2E3192;
}
/* line 124, ../scss/admin_common.scss */
.houseowner #admin-tabs .admin-tab {
  cursor: pointer;
  border-color: #2E3192;
  background-color: #FFFFFF;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjNTRhNmRlIi8+PHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #ffffff), color-stop(51%, #54a6de), color-stop(99%, #ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff 1%, #54a6de 51%, #ffffff 99%);
  background-image: -moz-linear-gradient(top, #ffffff 1%, #54a6de 51%, #ffffff 99%);
  background-image: -o-linear-gradient(top, #ffffff 1%, #54a6de 51%, #ffffff 99%);
  background-image: linear-gradient(top, #ffffff 1%, #54a6de 51%, #ffffff 99%);
}
/* line 131, ../scss/admin_common.scss */
.houseowner #admin-tabs .admin-tab.selected {
  border-bottom-color: #FFF;
}

/* line 137, ../scss/admin_common.scss */
#houseobject-selector {
  width: 547px;
  background-color: #EFEFEF;
  border: 1px solid #2E3192;
  padding: 5px;
  margin-top: 10px;
}
/* line 143, ../scss/admin_common.scss */
#houseobject-selector .houseobject-selector-item {
  width: 144px;
  height: 150px;
  padding: 5px;
  display: inline-block;
  border: 5px solid #EFEFEF;
  position: relative;
  background-color: #DDD;
  white-space: nowrap;
  text-align: center;
}
/* line 153, ../scss/admin_common.scss */
#houseobject-selector .houseobject-selector-item a {
  margin-top: 5px;
}
/* line 156, ../scss/admin_common.scss */
#houseobject-selector .houseobject-selector-item .admin-close_big {
  cursor: pointer;
  width: 20px;
  height: 19px;
  position: absolute;
  right: 5px;
  top: 5px;
}
/* line 164, ../scss/admin_common.scss */
#houseobject-selector .houseobject-selector-item img {
  width: 144px;
  height: 93px;
}
/* line 169, ../scss/admin_common.scss */
#houseobject-selector .selected {
  border: 5px solid #CCC;
}
/* line 172, ../scss/admin_common.scss */
#houseobject-selector #houseobject-add {
  cursor: pointer;
  width: 144px;
  height: 151px;
  padding: 5px;
  display: inline-block;
  background-color: #CCC;
  border: 4px solid #CCC;
}
/* line 181, ../scss/admin_common.scss */
#houseobject-selector #houseobject-add .admin-add_property {
  width: 74px;
  height: 42px;
  margin: 44px 0 0 30px;
  background-position: 0 -63px;
}
/* line 187, ../scss/admin_common.scss */
#houseobject-selector #houseobject-add .title {
  margin: 10px 0 0 25px;
  color: white;
  font-size: 16px;
}
/* line 193, ../scss/admin_common.scss */
#houseobject-selector .admin-arrow {
  width: 10px;
  height: 27px;
  margin: 70px 0 0 5px;
  cursor: pointer;
}
/* line 199, ../scss/admin_common.scss */
#houseobject-selector .arrow-area {
  width: 20px;
  float: left;
  overflow: hidden;
}
/* line 204, ../scss/admin_common.scss */
#houseobject-selector .container {
  white-space: nowrap;
}
/* line 207, ../scss/admin_common.scss */
#houseobject-selector #selector {
  float: left;
  width: 505px;
  height: 180px;
  overflow: hidden;
}
/* line 213, ../scss/admin_common.scss */
#houseobject-selector .delete-dialog {
  background-color: #E2E2E2;
  width: 400px;
  height: 125px;
  padding: 10px;
  color: #232323;
  position: absolute;
  top: 20px;
  left: 70px;
  z-index: 10;
  border: 1px solid #666666;
  -webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
}
/* line 227, ../scss/admin_common.scss */
#houseobject-selector .delete-dialog .info {
  padding: 20px;
  width: 100%;
  text-align: center;
  line-height: 25px;
  overflow: hidden;
}
/* line 233, ../scss/admin_common.scss */
#houseobject-selector .delete-dialog .info div {
  float: left;
}
/* line 236, ../scss/admin_common.scss */
#houseobject-selector .delete-dialog .info .admin-delete {
  width: 27px;
  height: 38px;
  float: left;
  margin: 0 10px;
}
/* line 243, ../scss/admin_common.scss */
#houseobject-selector .delete-dialog .btn-area {
  padding-left: 125px;
}
/* line 245, ../scss/admin_common.scss */
#houseobject-selector .delete-dialog .btn-area .btn {
  width: 73px;
  height: 23px;
  line-height: 23px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #232323;
  color: #232323;
  text-align: center;
  background-color: #e5e5e5;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFD6D6D6');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iODclIiBzdG9wLWNvbG9yPSIjZTVlNWU1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDZkNmQ2Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(87%, #e5e5e5), color-stop(100%, #d6d6d6));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
  background-image: linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
  cursor: pointer;
  float: left;
  margin-right: 20px;
}
/* line 264, ../scss/admin_common.scss */
#houseobject-selector .delete-dialog .admin-close_big {
  cursor: pointer;
  width: 20px;
  height: 19px;
  position: absolute;
  right: 2px;
  top: 2px;
}

/* line 274, ../scss/admin_common.scss */
.houseobject-photo-item {
  float: left;
  position: relative;
  margin: 10px;
}
/* line 278, ../scss/admin_common.scss */
.houseobject-photo-item .admin-close_big {
  cursor: pointer;
  width: 20px;
  height: 19px;
  position: absolute;
  right: 2px;
  top: 2px;
}

/* line 288, ../scss/admin_common.scss */
.big-title {
  color: #3b91d9;
  font-size: 20px;
  padding: 20px 0;
}

/* line 296, ../scss/admin_common.scss */
#messages .title {
  color: #3b91d9;
}

/* line 300, ../scss/admin_common.scss */
.message {
  position: relative;
  margin-bottom: 10px;
}
/* line 303, ../scss/admin_common.scss */
.message .message-single {
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid #ccc;
}
/* line 307, ../scss/admin_common.scss */
.message .admin-close {
  cursor: pointer;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 5px;
  top: 5px;
}
/* line 315, ../scss/admin_common.scss */
.message .message-body {
  margin: 10px 0;
  line-height: 16px;
}
/* line 319, ../scss/admin_common.scss */
.message .reply {
  padding: 10px 10px 0 20px;
}
/* line 322, ../scss/admin_common.scss */
.message .reply-form {
  padding: 5px;
}
/* line 324, ../scss/admin_common.scss */
.message .reply-form input {
  float: left;
}
/* line 327, ../scss/admin_common.scss */
.message .reply-form input[type="text"] {
  width: 445px;
}
/* line 330, ../scss/admin_common.scss */
.message .reply-form input[type="submit"] {
  margin: 3px 10px;
}

/* line 336, ../scss/admin_common.scss */
#form-submit {
  margin-top: 10px;
}

/* line 340, ../scss/admin_common.scss */
.message:nth-child(even) {
  background-color: #EEE;
}

/* line 344, ../scss/admin_common.scss */
#previous-messages-btn {
  margin: 10px 0;
}

/* line 349, ../scss/admin_common.scss */
#suggestion .big-title {
  color: #232323;
}
/* line 353, ../scss/admin_common.scss */
#suggestion .desc {
  color: #666666;
  line-height: 20px;
}
/* line 358, ../scss/admin_common.scss */
#suggestion textarea {
  float: left;
  height: 150px;
  width: 400px;
  margin-top: 10px;
}
/* line 365, ../scss/admin_common.scss */
#suggestion input[type="submit"] {
  float: left;
  position: relative;
  bottom: 0;
  margin: 140px 0 0 20px;
}

/* line 375, ../scss/admin_common.scss */
#profits .admin-calendar {
  float: left;
  width: 17px;
  height: 16px;
  margin: 4px 3px;
}
/* line 381, ../scss/admin_common.scss */
#profits .admin-calendar_big {
  float: left;
  width: 18px;
  height: 18px;
  margin: 4px 2px;
  cursor: pointer;
}
/* line 388, ../scss/admin_common.scss */
#profits .admin-people {
  float: left;
  width: 13px;
  height: 17px;
  margin: 4px 3px;
}
/* line 394, ../scss/admin_common.scss */
#profits .admin-money1 {
  float: left;
  width: 9px;
  height: 15px;
  margin: 4px 3px;
}
/* line 400, ../scss/admin_common.scss */
#profits .admin-money2 {
  float: left;
  width: 9px;
  height: 13px;
  margin: 8px 3px;
  background-position: 0 -240px;
}
/* line 407, ../scss/admin_common.scss */
#profits .admin-equal {
  float: left;
  width: 16px;
  height: 11px;
  margin: 6px 3px;
}
/* line 413, ../scss/admin_common.scss */
#profits .admin-plus {
  float: left;
  width: 13px;
  height: 14px;
  margin: 5px 3px;
}
/* line 419, ../scss/admin_common.scss */
#profits .profit-title {
  font-size: 30px;
  color: #CCC;
  margin: 10px;
}
/* line 424, ../scss/admin_common.scss */
#profits .desc-area {
  overflow: hidden;
  margin-left: 80px;
  margin-bottom: 10px;
}
/* line 428, ../scss/admin_common.scss */
#profits .desc-area div {
  float: left;
}
/* line 431, ../scss/admin_common.scss */
#profits .desc-area .title {
  font-size: 16px;
  margin: 2px 20px 0 0;
}
/* line 436, ../scss/admin_common.scss */
#profits .house-object {
  width: 550px;
  height: 100px;
  clear: both;
  padding: 10px 0;
  border-bottom: 1px solid #1B1464;
}
/* line 442, ../scss/admin_common.scss */
#profits .house-object .admin-plus {
  margin: 8px 3px;
}
/* line 445, ../scss/admin_common.scss */
#profits .house-object .admin-equal {
  margin: 9px 3px;
}
/* line 450, ../scss/admin_common.scss */
#profits .house-object .house-desc-area {
  float: left;
  height: 100px;
  width: 110px;
}
/* line 454, ../scss/admin_common.scss */
#profits .house-object .house-desc-area img {
  margin: 5px;
  width: 90px;
}
/* line 458, ../scss/admin_common.scss */
#profits .house-object .house-desc-area .title {
  margin: 2px 5px;
  color: #3b91d9;
}
/* line 463, ../scss/admin_common.scss */
#profits .house-object .date-area {
  float: left;
  height: 100px;
  width: 140px;
}
/* line 467, ../scss/admin_common.scss */
#profits .house-object .date-area input {
  width: 100px;
  float: left;
}
/* line 471, ../scss/admin_common.scss */
#profits .house-object .date-area .title {
  margin: 10px 0;
  clear: both;
}
/* line 476, ../scss/admin_common.scss */
#profits .house-object .people-area {
  float: left;
  height: 100px;
  width: 60px;
  padding: 33px 0 0 0;
}
/* line 481, ../scss/admin_common.scss */
#profits .house-object .people-area input {
  float: left;
  width: 30px;
  float: left;
}
/* line 487, ../scss/admin_common.scss */
#profits .house-object .rent-area {
  float: left;
  height: 100px;
  width: 100px;
  padding: 33px 0 0 0;
}
/* line 492, ../scss/admin_common.scss */
#profits .house-object .rent-area input {
  float: left;
  width: 45px;
  float: left;
}
/* line 498, ../scss/admin_common.scss */
#profits .house-object .amount-area {
  float: left;
  height: 100px;
  width: 140px;
  padding: 33px 0 0 0;
}
/* line 503, ../scss/admin_common.scss */
#profits .house-object .amount-area input {
  float: left;
  width: 90px;
  float: left;
}
/* line 509, ../scss/admin_common.scss */
#profits .house-object input[type="text"] {
  float: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 4px;
  font-size: 12px;
  color: #666666;
  vertical-align: middle;
}
/* line 520, ../scss/admin_common.scss */
#profits .total-area {
  padding-right: 10px;
}
/* line 522, ../scss/admin_common.scss */
#profits .total-area div {
  float: right;
}
/* line 525, ../scss/admin_common.scss */
#profits .total-area .title {
  margin: 4px 3px;
  color: #666666;
  font-size: 14px;
}
/* line 530, ../scss/admin_common.scss */
#profits .total-area input[type="text"] {
  float: right;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 4px;
  font-size: 12px;
  color: #666666;
  vertical-align: middle;
  width: 90px;
}
