/* line 162, admin/*.png */
.admin-sprite, .admin-add_property, .admin-alteration, .admin-arrow-left, .admin-arrow-right, .admin-calendar, .admin-calendar_big, .admin-close, .admin-close_big, .admin-delete, .admin-equal, .admin-money1, .admin-money2, .admin-people, .admin-people_b, .admin-people_h, .admin-plus {
  background: url('/img/admin-sd91c824aa2.png') no-repeat;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-add_property {
  background-position: 0 -62px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-alteration {
  background-position: 0 -38px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-arrow-left {
  background-position: 0 -193px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-arrow-right {
  background-position: 0 -271px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-calendar {
  background-position: 0 -299px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-calendar_big {
  background-position: 0 -315px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-close {
  background-position: 0 -123px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-close_big {
  background-position: 0 -104px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-delete {
  background-position: 0 0;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-equal {
  background-position: 0 -333px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-money1 {
  background-position: 0 -256px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-money2 {
  background-position: 0 -238px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-people {
  background-position: 0 -221px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-people_b {
  background-position: 0 -151px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-people_h {
  background-position: 0 -172px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-plus {
  background-position: 0 -137px;
}

/* line 5, ../scss/admin_common.scss */
.col-combined {
  width: 760px;
}

/* line 8, ../scss/admin_common.scss */
.col-left-left-big {
  width: 558px;
  padding-bottom: 40px;
}

/* line 13, ../scss/admin_common.scss */
.col-right-left-big {
  width: 200px;
  margin-left: 2px;
  position: fixed;
  top: 200px;
  margin-left: 569px;
}

/* line 21, ../scss/admin_common.scss */
#admin-menu {
  padding: 10px 0;
  position: fixed;
  height: 24px;
  top: 143px;
  z-index: 10;
  background-color: white;
}
/* line 28, ../scss/admin_common.scss */
#admin-menu div {
  float: left;
}
/* line 31, ../scss/admin_common.scss */
#admin-menu .margin-left-area {
  width: 125px;
  height: 10px;
}
/* line 35, ../scss/admin_common.scss */
#admin-menu .admin-alteration {
  width: 114px;
  height: 24px;
  position: absolute;
  left: -20px;
}
/* line 41, ../scss/admin_common.scss */
#admin-menu .seperator {
  width: 1.3px;
  height: 24px;
  margin: 0 10px;
  background-color: #666666;
}
/* line 47, ../scss/admin_common.scss */
#admin-menu .title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 3px;
}
/* line 51, ../scss/admin_common.scss */
#admin-menu .title a {
  color: #666666;
}

/* line 57, ../scss/admin_common.scss */
#admin-tabs {
  width: 560px;
  height: 41px;
  border-bottom: 1px solid #232323;
  position: fixed;
  top: 187px;
  z-index: 10;
  background-color: white;
}
/* line 65, ../scss/admin_common.scss */
#admin-tabs .admin-tab {
  position: relative;
  bottom: -2px;
  margin: 0 2px;
  float: left;
  height: 20px;
  padding: 9px 25px;
  -webkit-border-radius: 0px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius: 0px;
  -moz-border-radius-top-right: 10px;
  -moz-border-radius-top-left: 10px;
  border-radius: 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-style: solid;
  border-width: 1px;
}

/* line 86, ../scss/admin_common.scss */
.form-area {
  margin-top: 100px;
}

/* line 93, ../scss/admin_common.scss */
.backpacker #admin-menu .title a:hover {
  color: #00A99D;
}
/* line 98, ../scss/admin_common.scss */
.backpacker #admin-menu .title.selected a {
  color: #00A99D;
}
/* line 103, ../scss/admin_common.scss */
.backpacker #admin-tabs {
  color: #007063;
  border-bottom: 1px solid #007063;
}
/* line 106, ../scss/admin_common.scss */
.backpacker #admin-tabs .admin-tab {
  cursor: pointer;
  background-color: #ffffff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMzIlIiBzdG9wLWNvbG9yPSIjMDBhOTlkIi8+PHN0b3Agb2Zmc2V0PSI2NiUiIHN0b3AtY29sb3I9IiMwMGE5OWQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #ffffff), color-stop(32%, #00a99d), color-stop(66%, #00a99d), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff 1%, #00a99d 32%, #00a99d 66%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #ffffff 1%, #00a99d 32%, #00a99d 66%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #ffffff 1%, #00a99d 32%, #00a99d 66%, #ffffff 100%);
  background-image: linear-gradient(top, #ffffff 1%, #00a99d 32%, #00a99d 66%, #ffffff 100%);
}
/* line 113, ../scss/admin_common.scss */
.backpacker #admin-tabs .admin-tab.selected {
  border-bottom-color: #FFF;
}

/* line 122, ../scss/admin_common.scss */
.houseowner #admin-menu .title a:hover {
  color: #007AFA;
}
/* line 127, ../scss/admin_common.scss */
.houseowner #admin-menu .title.selected a {
  color: #007AFA;
}
/* line 132, ../scss/admin_common.scss */
.houseowner #admin-tabs {
  color: #2E3192;
  border-bottom: 1px solid #2E3192;
}
/* line 135, ../scss/admin_common.scss */
.houseowner #admin-tabs .admin-tab {
  cursor: pointer;
  border-color: #2E3192;
  background-color: #FFFFFF;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjNTRhNmRlIi8+PHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #ffffff), color-stop(51%, #54a6de), color-stop(99%, #ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff 1%, #54a6de 51%, #ffffff 99%);
  background-image: -moz-linear-gradient(top, #ffffff 1%, #54a6de 51%, #ffffff 99%);
  background-image: -o-linear-gradient(top, #ffffff 1%, #54a6de 51%, #ffffff 99%);
  background-image: linear-gradient(top, #ffffff 1%, #54a6de 51%, #ffffff 99%);
}
/* line 142, ../scss/admin_common.scss */
.houseowner #admin-tabs .admin-tab.selected {
  border-bottom-color: #FFF;
}

/* line 148, ../scss/admin_common.scss */
#houseobject-selector {
  width: 547px;
  background-color: #EFEFEF;
  border: 1px solid #2E3192;
  padding: 5px;
  margin-top: 10px;
}
/* line 154, ../scss/admin_common.scss */
#houseobject-selector .houseobject-selector-item {
  width: 144px;
  height: 150px;
  padding: 5px;
  display: inline-block;
  border: 5px solid #EFEFEF;
  position: relative;
  background-color: #DDD;
  white-space: nowrap;
  text-align: center;
}
/* line 164, ../scss/admin_common.scss */
#houseobject-selector .houseobject-selector-item a {
  margin-top: 5px;
}
/* line 167, ../scss/admin_common.scss */
#houseobject-selector .houseobject-selector-item .admin-close_big {
  cursor: pointer;
  width: 20px;
  height: 19px;
  position: absolute;
  right: 5px;
  top: 5px;
}
/* line 175, ../scss/admin_common.scss */
#houseobject-selector .houseobject-selector-item img {
  width: 144px;
  height: 93px;
}
/* line 180, ../scss/admin_common.scss */
#houseobject-selector .selected {
  border: 5px solid #CCC;
}
/* line 183, ../scss/admin_common.scss */
#houseobject-selector #houseobject-add {
  cursor: pointer;
  width: 144px;
  height: 151px;
  padding: 5px;
  display: inline-block;
  background-color: #CCC;
  border: 4px solid #CCC;
}
/* line 192, ../scss/admin_common.scss */
#houseobject-selector #houseobject-add .admin-add_property {
  width: 74px;
  height: 42px;
  margin: 44px 0 0 30px;
  background-position: 0 -63px;
}
/* line 198, ../scss/admin_common.scss */
#houseobject-selector #houseobject-add .title {
  margin: 10px 0 0 25px;
  color: white;
  font-size: 16px;
}
/* line 204, ../scss/admin_common.scss */
#houseobject-selector .admin-arrow {
  width: 10px;
  height: 27px;
  margin: 70px 0 0 5px;
  cursor: pointer;
}
/* line 210, ../scss/admin_common.scss */
#houseobject-selector .arrow-area {
  width: 20px;
  float: left;
  overflow: hidden;
}
/* line 215, ../scss/admin_common.scss */
#houseobject-selector .container {
  white-space: nowrap;
}
/* line 218, ../scss/admin_common.scss */
#houseobject-selector #selector {
  float: left;
  width: 505px;
  height: 180px;
  overflow: hidden;
}
/* line 224, ../scss/admin_common.scss */
#houseobject-selector .delete-dialog {
  background-color: #E2E2E2;
  width: 400px;
  height: 125px;
  padding: 10px;
  color: #232323;
  position: absolute;
  top: 20px;
  left: 70px;
  z-index: 10;
  border: 1px solid #666666;
  -webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
}
/* line 238, ../scss/admin_common.scss */
#houseobject-selector .delete-dialog .info {
  padding: 20px;
  width: 100%;
  text-align: center;
  line-height: 25px;
  overflow: hidden;
}
/* line 244, ../scss/admin_common.scss */
#houseobject-selector .delete-dialog .info div {
  float: left;
}
/* line 247, ../scss/admin_common.scss */
#houseobject-selector .delete-dialog .info .admin-delete {
  width: 27px;
  height: 38px;
  float: left;
  margin: 0 10px;
}
/* line 254, ../scss/admin_common.scss */
#houseobject-selector .delete-dialog .btn-area {
  padding-left: 125px;
}
/* line 256, ../scss/admin_common.scss */
#houseobject-selector .delete-dialog .btn-area .btn {
  width: 73px;
  height: 23px;
  line-height: 23px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #232323;
  color: #232323;
  text-align: center;
  background-color: #e5e5e5;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFD6D6D6');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iODclIiBzdG9wLWNvbG9yPSIjZTVlNWU1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDZkNmQ2Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(87%, #e5e5e5), color-stop(100%, #d6d6d6));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
  background-image: linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
  cursor: pointer;
  float: left;
  margin-right: 20px;
}
/* line 275, ../scss/admin_common.scss */
#houseobject-selector .delete-dialog .admin-close_big {
  cursor: pointer;
  width: 20px;
  height: 19px;
  position: absolute;
  right: 2px;
  top: 2px;
}

/* line 285, ../scss/admin_common.scss */
.houseobject-photo-item {
  float: left;
  position: relative;
  margin: 10px;
}
/* line 289, ../scss/admin_common.scss */
.houseobject-photo-item .admin-close_big {
  cursor: pointer;
  width: 20px;
  height: 19px;
  position: absolute;
  right: 2px;
  top: 2px;
}

/* line 299, ../scss/admin_common.scss */
.big-title {
  color: #3b91d9;
  font-size: 20px;
  padding: 20px 0;
}

/* line 307, ../scss/admin_common.scss */
#messages .title {
  color: #3b91d9;
}

/* line 312, ../scss/admin_common.scss */
.admin-close {
  cursor: pointer;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 5px;
  top: 5px;
}

/* line 320, ../scss/admin_common.scss */
.message {
  position: relative;
  margin-bottom: 10px;
}
/* line 323, ../scss/admin_common.scss */
.message .message-single {
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid #ccc;
}
/* line 327, ../scss/admin_common.scss */
.message .message-body {
  margin: 10px 0;
  line-height: 16px;
  margin: 10px 0;
  line-height: 16px;
  white-space: normal;
  width: 100%;
  overflow: hidden;
  word-break: break-all;
}
/* line 337, ../scss/admin_common.scss */
.message .reply {
  padding: 10px 10px 0 20px;
}
/* line 340, ../scss/admin_common.scss */
.message .reply-form {
  padding: 5px;
}
/* line 342, ../scss/admin_common.scss */
.message .reply-form input {
  float: left;
}
/* line 345, ../scss/admin_common.scss */
.message .reply-form textarea {
  width: 445px;
  height: 25px;
  float: left;
}
/* line 350, ../scss/admin_common.scss */
.message .reply-form input[type="submit"] {
  margin: 3px 10px;
}

/* line 356, ../scss/admin_common.scss */
#form-submit {
  margin-top: 10px;
}

/* line 360, ../scss/admin_common.scss */
.message:nth-child(even) {
  background-color: #EEE;
}

/* line 364, ../scss/admin_common.scss */
#previous-messages-btn {
  margin: 10px 0;
}

/* line 369, ../scss/admin_common.scss */
#suggestion .big-title {
  color: #232323;
}
/* line 373, ../scss/admin_common.scss */
#suggestion .desc {
  color: #666666;
  line-height: 20px;
}
/* line 378, ../scss/admin_common.scss */
#suggestion textarea {
  float: left;
  height: 150px;
  width: 400px;
  margin-top: 10px;
}
/* line 385, ../scss/admin_common.scss */
#suggestion input[type="submit"] {
  float: left;
  position: relative;
  bottom: 0;
  margin: 140px 0 0 20px;
}

/* line 395, ../scss/admin_common.scss */
#profits .admin-calendar {
  float: left;
  width: 17px;
  height: 16px;
  margin: 4px 3px;
}
/* line 401, ../scss/admin_common.scss */
#profits .admin-calendar_big {
  float: left;
  width: 18px;
  height: 18px;
  margin: 4px 2px;
  cursor: pointer;
}
/* line 408, ../scss/admin_common.scss */
#profits .admin-people {
  float: left;
  width: 13px;
  height: 17px;
  margin: 4px 3px;
}
/* line 414, ../scss/admin_common.scss */
#profits .admin-money1 {
  float: left;
  width: 9px;
  height: 15px;
  margin: 4px 3px;
}
/* line 420, ../scss/admin_common.scss */
#profits .admin-money2 {
  float: left;
  width: 9px;
  height: 13px;
  margin: 8px 3px;
  background-position: 0 -240px;
}
/* line 427, ../scss/admin_common.scss */
#profits .admin-equal {
  float: left;
  width: 16px;
  height: 11px;
  margin: 6px 3px;
}
/* line 433, ../scss/admin_common.scss */
#profits .admin-plus {
  float: left;
  width: 13px;
  height: 14px;
  margin: 5px 3px;
}
/* line 439, ../scss/admin_common.scss */
#profits .profit-title {
  font-size: 30px;
  color: #CCC;
  margin: 10px;
}
/* line 444, ../scss/admin_common.scss */
#profits .desc-area {
  overflow: hidden;
  margin-left: 50px;
  margin-bottom: 10px;
}
/* line 448, ../scss/admin_common.scss */
#profits .desc-area div {
  float: left;
}
/* line 451, ../scss/admin_common.scss */
#profits .desc-area .title {
  font-size: 16px;
  margin: 2px 20px 0 0;
}
/* line 456, ../scss/admin_common.scss */
#profits .house-object {
  width: 550px;
  height: 100px;
  clear: both;
  padding: 10px 0;
  border-bottom: 1px solid #1B1464;
}
/* line 462, ../scss/admin_common.scss */
#profits .house-object .admin-plus {
  margin: 8px 3px;
}
/* line 465, ../scss/admin_common.scss */
#profits .house-object .admin-equal {
  margin: 9px 3px;
}
/* line 470, ../scss/admin_common.scss */
#profits .house-object .house-desc-area {
  float: left;
  height: 100px;
  width: 110px;
}
/* line 474, ../scss/admin_common.scss */
#profits .house-object .house-desc-area img {
  margin: 5px;
  width: 90px;
}
/* line 478, ../scss/admin_common.scss */
#profits .house-object .house-desc-area .title {
  margin: 2px 5px;
  color: #3b91d9;
}
/* line 483, ../scss/admin_common.scss */
#profits .house-object .date-area {
  float: left;
  height: 100px;
  width: 140px;
}
/* line 487, ../scss/admin_common.scss */
#profits .house-object .date-area input {
  width: 100px;
  float: left;
}
/* line 491, ../scss/admin_common.scss */
#profits .house-object .date-area .title {
  margin: 10px 0;
  clear: both;
}
/* line 496, ../scss/admin_common.scss */
#profits .house-object .people-area {
  float: left;
  height: 100px;
  width: 60px;
  padding: 33px 0 0 0;
}
/* line 501, ../scss/admin_common.scss */
#profits .house-object .people-area input {
  float: left;
  width: 30px;
  float: left;
}
/* line 507, ../scss/admin_common.scss */
#profits .house-object .rent-area {
  float: left;
  height: 100px;
  width: 100px;
  padding: 33px 0 0 0;
}
/* line 512, ../scss/admin_common.scss */
#profits .house-object .rent-area input {
  float: left;
  width: 45px;
  float: left;
}
/* line 518, ../scss/admin_common.scss */
#profits .house-object .amount-area {
  float: left;
  height: 100px;
  width: 140px;
  padding: 33px 0 0 0;
}
/* line 523, ../scss/admin_common.scss */
#profits .house-object .amount-area input {
  float: left;
  width: 90px;
  float: left;
}
/* line 529, ../scss/admin_common.scss */
#profits .house-object input[type="text"] {
  float: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 4px;
  font-size: 12px;
  color: #666666;
  vertical-align: middle;
}
/* line 540, ../scss/admin_common.scss */
#profits .total-area {
  padding-right: 10px;
}
/* line 542, ../scss/admin_common.scss */
#profits .total-area div {
  float: right;
}
/* line 545, ../scss/admin_common.scss */
#profits .total-area .title {
  margin: 4px 3px;
  color: #666666;
  font-size: 14px;
}
/* line 550, ../scss/admin_common.scss */
#profits .total-area input[type="text"] {
  float: right;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 4px;
  font-size: 12px;
  color: #666666;
  vertical-align: middle;
  width: 90px;
}

/* line 566, ../scss/admin_common.scss */
#admin-menu .selected a {
  color: #009999;
}

/* line 572, ../scss/admin_common.scss */
.reports {
  margin-top: 40px;
  width: 100%;
  ling-height: 25px;
  background-color: #EFEFEF;
  font-size: 16px;
  text-align: center;
}
/* line 579, ../scss/admin_common.scss */
.reports tr:first-child {
  background-color: #009999;
  color: #fff;
}
/* line 584, ../scss/admin_common.scss */
.reports tr td {
  padding: 10px;
}

/* line 590, ../scss/admin_common.scss */
.traffic-link {
  margin: 10px;
  font-size: 16px;
}

/* line 596, ../scss/admin_common.scss */
#recommend-area .admin-people_b {
  width: 16px;
  height: 21px;
  float: left;
  margin-right: 5px;
}
/* line 602, ../scss/admin_common.scss */
#recommend-area .title {
  color: green;
  font-size: 14px;
  line-height: 24px;
}
/* line 607, ../scss/admin_common.scss */
#recommend-area .recommend-items-area {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #232323;
  background-color: #EFEFEF;
  padding: 5px;
}
/* line 614, ../scss/admin_common.scss */
#recommend-area .recommend-items-area .item {
  position: relative;
  border-bottom: 1px solid #666666;
}
/* line 617, ../scss/admin_common.scss */
#recommend-area .recommend-items-area .item .title {
  color: #3b91d9;
}
/* line 620, ../scss/admin_common.scss */
#recommend-area .recommend-items-area .item textarea {
  height: 20px;
  width: 180px;
  margin: 7px 0 0 0;
}
/* line 625, ../scss/admin_common.scss */
#recommend-area .recommend-items-area .item input[type=submit] {
  margin: 10px auto;
}
/* line 629, ../scss/admin_common.scss */
#recommend-area .recommend-items-area .item:last-child {
  border-bottom: none;
}
/* line 632, ../scss/admin_common.scss */
#recommend-area .recommend-items-area .item-no-bottom-line {
  border-bottom: none;
}
