/* line 98, map/*.png */
.map-sprite, .map-map_all, .map-map_nsw, .map-map_nt, .map-map_qld, .map-map_sa, .map-map_tas, .map-map_vic, .map-map_wa {
  background: url('/img/map-sdcd3ed85fc.png') no-repeat;
}

/* line 98, map_big/*.png */
.map_big-sprite, .map_big-map_all_big, .map_big-map_nsw_big, .map_big-map_nt_big, .map_big-map_qld_big, .map_big-map_sa_big, .map_big-map_tas_big, .map_big-map_vic_big, .map_big-map_wa_big {
  background: url('/img/map_big-s3c95f1b504.png') no-repeat;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_all {
  background-position: 0 0;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_nsw {
  background-position: 0 -305px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_nt {
  background-position: 0 -397px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_qld {
  background-position: 0 -227px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_sa {
  background-position: 0 -346px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_tas {
  background-position: 0 -482px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_vic {
  background-position: 0 -459px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_wa {
  background-position: 0 -138px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_all_big {
  background-position: 0 0;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_nsw_big {
  background-position: 0 -374px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_nt_big {
  background-position: 0 -486px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_qld_big {
  background-position: 0 -279px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_sa_big {
  background-position: 0 -424px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_tas_big {
  background-position: 0 -589px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_vic_big {
  background-position: 0 -561px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_wa_big {
  background-position: 0 -169px;
}

/* line 114, menu/*.png */
.menu-sprite, .menu-find_customers, .menu-find_houses, .menu-find_partner, .menu-settings, .menu-travel_together {
  background: url('/img/menu-s51d58a325c.png') no-repeat;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-find_customers {
  background-position: 0 -207px;
}
/* line 43, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-find_customers:active, .menu-find_customers.find_customers_active, .menu-find_customers.find_customers-active {
  background-position: 0 -184px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-find_houses {
  background-position: 0 -161px;
}
/* line 43, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-find_houses:active, .menu-find_houses.find_houses_active, .menu-find_houses.find_houses-active {
  background-position: 0 -138px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-find_partner {
  background-position: 0 -115px;
}
/* line 43, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-find_partner:active, .menu-find_partner.find_partner_active, .menu-find_partner.find_partner-active {
  background-position: 0 -69px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-settings {
  background-position: 0 -92px;
}
/* line 43, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-settings:active, .menu-settings.settings_active, .menu-settings.settings-active {
  background-position: 0 -46px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-travel_together {
  background-position: 0 -23px;
}
/* line 43, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-travel_together:active, .menu-travel_together.travel_together_active, .menu-travel_together.travel_together-active {
  background-position: 0 0;
}

/* line 178, listing/*.png */
.listing-sprite, .listing-beds, .listing-calendar, .listing-delete, .listing-favorite, .listing-ha, .listing-hb, .listing-hc, .listing-hd, .listing-parking, .listing-rooms, .listing-save_favorite, .listing-search, .listing-search_btn, .listing-send_message, .listing-sort, .listing-sort_d, .listing-toilet, .listing-wecharge {
  background: url('/img/listing-s4bb0fb453f.png') no-repeat;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-beds {
  background-position: 0 -301px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-calendar {
  background-position: 0 -485px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-delete {
  background-position: 0 -267px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-favorite {
  background-position: 0 -469px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-ha {
  background-position: 0 -118px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-hb {
  background-position: 0 -80px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-hc {
  background-position: 0 -156px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-hd {
  background-position: 0 -378px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-parking {
  background-position: 0 -340px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-rooms {
  background-position: 0 -430px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-save_favorite {
  background-position: 0 -21px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-search {
  background-position: 0 -281px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-search_btn {
  background-position: 0 -416px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-send_message {
  background-position: 0 0;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-sort {
  background-position: 0 -194px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-sort_d {
  background-position: 0 -250px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-toilet {
  background-position: 0 -211px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-wecharge {
  background-position: 0 -42px;
}

/* line 11, ../scss/common.scss */
body {
  font-family: Myriad Pro,Lucida Grande,Helvetica,Arial,Verdana,sans-serif,"Microsoft JhengHei","微軟正黑體";
  margin: 0;
  font-size: 14px;
}

/* line 17, ../scss/common.scss */
a {
  color: #3b91d9;
  text-decoration: none;
}

/* line 22, ../scss/common.scss */
a:hover {
  text-decoration: underline;
}

/* line 26, ../scss/common.scss */
input {
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 33, ../scss/common.scss */
input[type="text"], input[type="password"] {
  border: 1px solid #666666;
}

/* line 37, ../scss/common.scss */
.hidden {
  display: none;
}

/* line 41, ../scss/common.scss */
.invisible {
  visibility: hidden;
}

/* line 45, ../scss/common.scss */
#map-all {
  width: 147px;
  height: 138px;
  margin: 0 auto;
  position: relative;
}
/* line 50, ../scss/common.scss */
#map-all .map-item {
  cursor: pointer;
}
/* line 53, ../scss/common.scss */
#map-all .map-map_wa {
  position: absolute;
  width: 58px;
  height: 89px;
  top: 16px;
}
/* line 59, ../scss/common.scss */
#map-all .map-map_nt {
  position: absolute;
  width: 34px;
  height: 62px;
  top: 5px;
  left: 56px;
}
/* line 66, ../scss/common.scss */
#map-all .map-map_sa {
  position: absolute;
  width: 44px;
  height: 51px;
  top: 65px;
  left: 56px;
}
/* line 73, ../scss/common.scss */
#map-all .map-map_qld {
  position: absolute;
  width: 58px;
  height: 78px;
  top: 0;
  right: 0px;
}
/* line 80, ../scss/common.scss */
#map-all .map-map_vic {
  position: absolute;
  width: 33px;
  height: 23px;
  top: 97px;
  right: 15px;
  z-index: 1;
}
/* line 88, ../scss/common.scss */
#map-all .map-map_tas {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 119px;
  right: 18px;
}
/* line 95, ../scss/common.scss */
#map-all .map-map_nsw {
  position: absolute;
  width: 48px;
  height: 41px;
  top: 73px;
  right: 0px;
}
/* line 103, ../scss/common.scss */
#map-all .unselected {
  background: url("/img/transparent.png");
}

/* line 108, ../scss/common.scss */
#map-all.map_big-map_all_big {
  width: 181px;
  height: 169px;
  margin: 0 auto;
  position: relative;
}
/* line 113, ../scss/common.scss */
#map-all.map_big-map_all_big .map_big-map_wa_big {
  position: absolute;
  width: 70px;
  height: 110px;
  top: 19px;
}
/* line 119, ../scss/common.scss */
#map-all.map_big-map_all_big .map_big-map_nt_big {
  position: absolute;
  width: 41px;
  height: 75px;
  top: 6px;
  left: 70px;
}
/* line 126, ../scss/common.scss */
#map-all.map_big-map_all_big .map_big-map_sa_big {
  position: absolute;
  width: 53px;
  height: 62px;
  top: 80px;
  left: 70px;
}
/* line 133, ../scss/common.scss */
#map-all.map_big-map_all_big .map_big-map_qld_big {
  position: absolute;
  width: 71px;
  height: 95px;
  top: 0;
  right: 1px;
}
/* line 140, ../scss/common.scss */
#map-all.map_big-map_all_big .map_big-map_vic_big {
  position: absolute;
  width: 41px;
  height: 28px;
  top: 119px;
  right: 18px;
  z-index: 1;
}
/* line 148, ../scss/common.scss */
#map-all.map_big-map_all_big .map_big-map_tas_big {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 146px;
  right: 23px;
}
/* line 155, ../scss/common.scss */
#map-all.map_big-map_all_big .map_big-map_nsw_big {
  position: absolute;
  width: 59px;
  height: 50px;
  top: 90px;
  right: 0px;
}
/* line 163, ../scss/common.scss */
#map-all.map_big-map_all_big .unselected {
  background: url("/img/transparent.png");
}

/* line 168, ../scss/common.scss */
.calendar {
  width: 220px;
}

/* line 172, ../scss/common.scss */
.panel {
  z-index: 100;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #656565;
  -webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
  background-color: white;
  position: absolute;
}

/* line 186, ../scss/common.scss */
.main-container {
  width: 720px;
  margin: 0 auto;
}

/* line 191, ../scss/common.scss */
.col {
  float: left;
}

/* line 195, ../scss/common.scss */
.col-left {
  width: 160px;
}

/* line 199, ../scss/common.scss */
.col-right {
  width: 558px;
  margin-left: 2px;
}

/* line 204, ../scss/common.scss */
#banner {
  width: 100%;
  background-color: #CFED3F;
}
/* line 207, ../scss/common.scss */
#banner .container {
  width: 720px;
  height: 110px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
/* line 213, ../scss/common.scss */
#banner .container .title {
  font-size: 36px;
  position: absolute;
  left: 100px;
  bottom: 10px;
}
/* line 219, ../scss/common.scss */
#banner .container .banner-pic {
  background: url(../img/banner_pic.png);
  width: 173px;
  height: 80px;
  position: absolute;
  right: 10px;
  bottom: 0px;
}

/* line 230, ../scss/common.scss */
.clean {
  clear: both;
}

/* line 234, ../scss/common.scss */
#menu-container {
  background-color: #B2B2B2;
}
/* line 236, ../scss/common.scss */
#menu-container #menu {
  width: 720px;
  margin: 0 auto;
  font-size: 14px;
  border: 1px solid #7F7F7F;
  background-color: #e5e5e5;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFD6D6D6');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iODclIiBzdG9wLWNvbG9yPSIjZTVlNWU1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDZkNmQ2Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(87%, #e5e5e5), color-stop(100%, #d6d6d6));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
  background-image: linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
}
/* line 245, ../scss/common.scss */
#menu-container #menu .btn {
  float: left;
  width: 20%;
  height: 31px;
  text-align: center;
  cursor: pointer;
}
/* line 251, ../scss/common.scss */
#menu-container #menu .btn .btn-container {
  display: inline-block;
  imargin: 0 auto;
  height: 31px;
  line-height: 31px;
}
/* line 256, ../scss/common.scss */
#menu-container #menu .btn .btn-container .menu-icon {
  width: 23px;
  height: 23px;
  float: left;
  margin: 3px 3px 3px 0;
  vertical-align: middle;
}
/* line 263, ../scss/common.scss */
#menu-container #menu .btn .btn-container .title {
  float: left;
  vertical-align: middle;
}
/* line 269, ../scss/common.scss */
#menu-container #menu .btn-right {
  float: right;
  position: relative;
}
/* line 273, ../scss/common.scss */
#menu-container #menu .btn-right .btn-container .menu-icon {
  margin: 3px 0 3px 3px;
}
/* line 278, ../scss/common.scss */
#menu-container #menu .extension-link {
  border: 1px solid #E5E5E5;
  width: 100%;
  -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.25);
  box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.25);
  position: relative;
  right: 2px;
  text-align: left;
}
/* line 287, ../scss/common.scss */
#menu-container #menu .extension-link .extension-item {
  height: 26px;
  line-height: 26px;
  background-color: white;
  border-bottom: 1px solid #E5E5E5;
}
/* line 292, ../scss/common.scss */
#menu-container #menu .extension-link .extension-item a {
  margin-left: 20px;
  vertical-align: middle;
  color: #7F7F7F;
  text-decoration: none;
}
/* line 299, ../scss/common.scss */
#menu-container #menu .extension-link .extension-item:hover {
  background-color: #E5E5E5;
}
/* line 302, ../scss/common.scss */
#menu-container #menu .extension-link .extension-item:last-child {
  border-bottom: 0px;
}

/* line 308, ../scss/common.scss */
#search-menu {
  padding-bottom: 10px;
  background-color: #e1f7f2;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE1F7F2', endColorstr='#FFE1F7F2');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UxZjdmMiIvPjxzdG9wIG9mZnNldD0iMzElIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSI4NyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWY3ZjIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e1f7f2), color-stop(31%, #ffffff), color-stop(87%, #ffffff), color-stop(100%, #e1f7f2));
  background-image: -webkit-linear-gradient(top, #e1f7f2 0%, #ffffff 31%, #ffffff 87%, #e1f7f2 100%);
  background-image: -moz-linear-gradient(top, #e1f7f2 0%, #ffffff 31%, #ffffff 87%, #e1f7f2 100%);
  background-image: -o-linear-gradient(top, #e1f7f2 0%, #ffffff 31%, #ffffff 87%, #e1f7f2 100%);
  background-image: linear-gradient(top, #e1f7f2 0%, #ffffff 31%, #ffffff 87%, #e1f7f2 100%);
  -webkit-border-radius: 0px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius: 0px;
  -moz-border-radius-top-right: 6px;
  -moz-border-radius-top-left: 6px;
  border-radius: 0px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border: 1px solid #232323;
  margin-top: 2px;
}
/* line 325, ../scss/common.scss */
#search-menu .search-title {
  height: 25px;
  line-height: 25px;
  color: #232323;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: #22CFBD;
  -webkit-border-radius: 0px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius: 0px;
  -moz-border-radius-top-right: 5px;
  -moz-border-radius-top-left: 5px;
  border-radius: 0px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 341, ../scss/common.scss */
#search-menu .search-title .listing-search {
  width: 19px;
  height: 20px;
  float: left;
  margin: 3px 3px 3px 10px;
}
/* line 347, ../scss/common.scss */
#search-menu .search-title .title {
  color: #232323;
  float: left;
  vertival-align: middle;
}
/* line 353, ../scss/common.scss */
#search-menu .input-set {
  clear: both;
  font-size: 10px;
  padding: 2px 10px;
  position: relative;
}
/* line 358, ../scss/common.scss */
#search-menu .input-set .listing-calendar {
  cursor: pointer;
  width: 17px;
  height: 16px;
  float: left;
  margin: 4px 2px;
}
/* line 365, ../scss/common.scss */
#search-menu .input-set .title {
  padding: 1px;
  _padding: 3px 1px 0px 1px;
  *padding: 3px 1px 0px 1px;
  padding: 3px 1px 0px 1px\9;
  vertical-align: middle;
}
/* line 372, ../scss/common.scss */
#search-menu .input-set .title.sec-title {
  display: inline;
  width: auto;
}
/* line 376, ../scss/common.scss */
#search-menu .input-set .desc {
  color: #666666;
  font-size: 9px;
}
/* line 380, ../scss/common.scss */
#search-menu .input-set input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 2px;
  font-size: 10px;
  color: #666666;
  vertical-align: middle;
  float: left;
}
/* line 390, ../scss/common.scss */
#search-menu .input-set select {
  font-size: 10px;
  padding: 1px;
  width: 140px;
}
/* line 395, ../scss/common.scss */
#search-menu .input-set select.short {
  width: 40px;
}
/* line 398, ../scss/common.scss */
#search-menu .input-set #cal-btn-start-cal {
  position: absolute;
  left: 150px;
  top: 20px;
}
/* line 403, ../scss/common.scss */
#search-menu .input-set #cal-btn-end-cal {
  position: absolute;
  left: 150px;
  top: 60px;
}
/* line 409, ../scss/common.scss */
#search-menu #search-btn {
  width: 73px;
  height: 23px;
  line-height: 23px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #232323;
  color: #232323;
  text-align: center;
  background-color: #e5e5e5;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFD6D6D6');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iODclIiBzdG9wLWNvbG9yPSIjZTVlNWU1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDZkNmQ2Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(87%, #e5e5e5), color-stop(100%, #d6d6d6));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
  background-image: linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
  cursor: pointer;
}
/* line 425, ../scss/common.scss */
#search-menu #search-btn .listing-search_btn {
  width: 14px;
  height: 14px;
  float: left;
  vertical-align: middle;
  margin: 5px 3px 0 5px;
}
/* line 432, ../scss/common.scss */
#search-menu #search-btn .title {
  float: left;
  vertical-align: middle;
}

/* line 439, ../scss/common.scss */
#sort-bar {
  height: 16px;
  line-height: 16px;
  background-color: #656565;
  font-size: 12px;
  color: white;
  padding: 10px;
  margin: 2px 0;
}
/* line 447, ../scss/common.scss */
#sort-bar .title {
  margin-right: 10px;
  float: left;
}
/* line 451, ../scss/common.scss */
#sort-bar .sort-item {
  vertical-align: middle;
  float: left;
}
/* line 454, ../scss/common.scss */
#sort-bar .sort-item .listing-sort {
  width: 16px;
  height: 17px;
  margin-right: 15px;
  float: left;
}
/* line 460, ../scss/common.scss */
#sort-bar .sort-item .desc {
  margin: 0 5px;
  float: left;
}

/* line 468, ../scss/common.scss */
.search-result .listing-icon {
  width: 19px;
  height: 22px;
  margin: 3px 5px;
  float: left;
}
/* line 474, ../scss/common.scss */
.search-result .theme-icon-house {
  width: 19px;
  height: 22px;
  margin: 3px 5px;
  float: left;
}
/* line 480, ../scss/common.scss */
.search-result .theme-icon-packer {
  width: 21px;
  height: 21px;
  margin: 3px 5px;
  float: left;
}
/* line 486, ../scss/common.scss */
.search-result .bar {
  height: 31px;
  line-height: 31px;
  border-bottom: 3px solid;
}
/* line 490, ../scss/common.scss */
.search-result .bar .left {
  width: 523px;
  height: 30px;
  border: 1px solid;
  border-bottom: 0;
  float: left;
}
/* line 496, ../scss/common.scss */
.search-result .bar .left .title {
  color: #232323;
  font-size: 16px;
  float: left;
}
/* line 501, ../scss/common.scss */
.search-result .bar .left img {
  width: 22px;
  height: 15px;
  float: left;
  margin: 8px 10px;
}
/* line 507, ../scss/common.scss */
.search-result .bar .left .updated-time {
  font-size: 10px;
  float: right;
  margin-right: 15px;
}
/* line 513, ../scss/common.scss */
.search-result .bar .left-house {
  width: 424px;
}
/* line 516, ../scss/common.scss */
.search-result .bar .right-item {
  margin-left: 1px;
  height: 30px;
  width: 30px;
  border: 1px solid;
  border-bottom: 0;
  float: left;
  cursor: pointer;
  position: relative;
}
/* line 525, ../scss/common.scss */
.search-result .bar .right-item .theme-icon-detail {
  width: 18px;
  height: 18px;
  margin: 6px 6px;
}
/* line 530, ../scss/common.scss */
.search-result .bar .right-item .theme-icon-pic {
  width: 20px;
  height: 16px;
  margin: 7px 5px;
}
/* line 535, ../scss/common.scss */
.search-result .bar .right-item .theme-icon-map {
  width: 12px;
  height: 18px;
  margin: 6px 9px;
}
/* line 540, ../scss/common.scss */
.search-result .bar .right-item .theme-icon-contact {
  width: 15px;
  height: 18px;
  margin: 6px 7px;
}
/* line 546, ../scss/common.scss */
.search-result .bar .right-item.selected {
  background-color: white;
}
/* line 548, ../scss/common.scss */
.search-result .bar .right-item.selected .white-bar {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: white;
}
/* line 556, ../scss/common.scss */
.search-result .content {
  padding: 5px 10px;
  border: 1px solid;
  border-top: 0;
  margin-bottom: 2px;
  position: relative;
}
/* line 562, ../scss/common.scss */
.search-result .content .left-content {
  float: left;
}
/* line 564, ../scss/common.scss */
.search-result .content .left-content img {
  width: 76px;
  height: 93px;
  margin-top: 15px;
}
/* line 570, ../scss/common.scss */
.search-result .content .right-content {
  float: left;
  posiiton: relative;
}
/* line 573, ../scss/common.scss */
.search-result .content .right-content .info-set {
  height: 25px;
  overflow: hidden;
}
/* line 576, ../scss/common.scss */
.search-result .content .right-content .info-set .title {
  width: 135px;
  height: 17px;
  text-align: right;
  float: left;
}
/* line 582, ../scss/common.scss */
.search-result .content .right-content .info-set .title.two-column {
  width: 60px;
}
/* line 585, ../scss/common.scss */
.search-result .content .right-content .info-set .desc {
  width: 120px;
  text-align: left;
  color: #232323;
  float: left;
  margin-left: 5px;
}
/* line 591, ../scss/common.scss */
.search-result .content .right-content .info-set .desc .inline-desc {
  width: auto;
  padding: 2px 4px;
  margin: 0;
  float: left;
}
/* line 598, ../scss/common.scss */
.search-result .content .right-content .info-set .one-line-desc {
  width: auto;
}
/* line 602, ../scss/common.scss */
.search-result .content .right-content .listing-icon {
  width: 20px;
  height: 21px;
  float: left;
  margin: 2px 3px;
}
/* line 609, ../scss/common.scss */
.search-result .content .combined-content {
  float: left;
  width: 535px;
  height: 111px;
  posiiton: relative;
}
/* line 615, ../scss/common.scss */
.search-result .content .combined-content .info-set .title {
  width: 70px;
}
/* line 618, ../scss/common.scss */
.search-result .content .combined-content .info-set .title.two-column {
  width: 60px;
}
/* line 621, ../scss/common.scss */
.search-result .content .combined-content .info-set .desc {
  width: 160px;
}
/* line 623, ../scss/common.scss */
.search-result .content .combined-content .info-set .desc .inline-desc {
  width: auto;
}
/* line 627, ../scss/common.scss */
.search-result .content .combined-content .info-set .one-line-desc {
  width: auto;
}
/* line 632, ../scss/common.scss */
.search-result .content .pic-content {
  float: left;
  width: 535px;
  height: 111px;
  position: relative;
}
/* line 637, ../scss/common.scss */
.search-result .content .pic-content .arrow-area {
  float: left;
  width: 20px;
  height: 111px;
}
/* line 641, ../scss/common.scss */
.search-result .content .pic-content .arrow-area .theme-arrow {
  cursor: pointer;
  width: 11px;
  height: 28px;
  margin: 40px 5px;
}
/* line 648, ../scss/common.scss */
.search-result .content .pic-content .pics {
  float: left;
  overflow: hidden;
  height: 111px;
  width: 492px;
  overflow: hidden;
  white-space: nowrap;
}
/* line 655, ../scss/common.scss */
.search-result .content .pic-content .pics ul {
  padding: 0;
  margin: 0;
  height: 111px;
}
/* line 659, ../scss/common.scss */
.search-result .content .pic-content .pics ul li {
  display: inline-block;
  margin: 0px;
  margin-top: 4px;
  overflow: hidden;
  height: 103px;
  white-space: nowrap;
}
/* line 666, ../scss/common.scss */
.search-result .content .pic-content .pics ul li img {
  width: 144px;
  height: 93px;
  border: 5px solid white;
  cursor: pointer;
}
/* line 672, ../scss/common.scss */
.search-result .content .pic-content .pics ul li img.selected {
  border: 5px solid #B2B2B2;
}
/* line 679, ../scss/common.scss */
.search-result .content .map-content {
  width: 535px;
  height: 111px;
}
/* line 682, ../scss/common.scss */
.search-result .content .map-content .map {
  width: 142px;
  height: 90px;
  margin: 10px 5px;
  float: left;
}
/* line 688, ../scss/common.scss */
.search-result .content .map-content .location-info {
  width: 370px;
  height: 111px;
  float: left;
  margin-left: 10px;
}
/* line 693, ../scss/common.scss */
.search-result .content .map-content .location-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}
/* line 698, ../scss/common.scss */
.search-result .content .map-content .location-info ul .desc {
  color: #232323;
  margin: 0;
}
/* line 705, ../scss/common.scss */
.search-result .content .action-btns {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
/* line 709, ../scss/common.scss */
.search-result .content .action-btns .listing-save_favorite {
  width: 52px;
  height: 21px;
  margin: 5px;
  cursor: pointer;
}
/* line 715, ../scss/common.scss */
.search-result .content .action-btns .listing-send_message {
  width: 52px;
  height: 21px;
  margin: 5px;
  cursor: pointer;
}
