/* line 98, map/*.png */
.map-sprite, .map-map_all, .map-map_nsw, .map-map_nt, .map-map_qld, .map-map_sa, .map-map_tas, .map-map_vic, .map-map_wa {
  background: url('/img/map-sdcd3ed85fc.png') no-repeat;
}

/* line 98, map_big/*.png */
.map_big-sprite, .map_big-map_all_big, .map_big-map_nsw_big, .map_big-map_nt_big, .map_big-map_qld_big, .map_big-map_sa_big, .map_big-map_tas_big, .map_big-map_vic_big, .map_big-map_wa_big {
  background: url('/img/map_big-s3c95f1b504.png') no-repeat;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_all {
  background-position: 0 0;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_nsw {
  background-position: 0 -305px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_nt {
  background-position: 0 -397px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_qld {
  background-position: 0 -227px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_sa {
  background-position: 0 -346px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_tas {
  background-position: 0 -482px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_vic {
  background-position: 0 -459px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_wa {
  background-position: 0 -138px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_all_big {
  background-position: 0 0;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_nsw_big {
  background-position: 0 -374px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_nt_big {
  background-position: 0 -486px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_qld_big {
  background-position: 0 -279px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_sa_big {
  background-position: 0 -424px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_tas_big {
  background-position: 0 -589px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_vic_big {
  background-position: 0 -561px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_wa_big {
  background-position: 0 -169px;
}

/* line 114, menu/*.png */
.menu-sprite, .menu-find_customers, .menu-find_houses, .menu-find_partner, .menu-settings, .menu-travel_together {
  background: url('/img/menu-s51d58a325c.png') no-repeat;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-find_customers {
  background-position: 0 -207px;
}
/* line 43, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-find_customers:active, .menu-find_customers.find_customers_active, .menu-find_customers.find_customers-active {
  background-position: 0 -184px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-find_houses {
  background-position: 0 -161px;
}
/* line 43, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-find_houses:active, .menu-find_houses.find_houses_active, .menu-find_houses.find_houses-active {
  background-position: 0 -138px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-find_partner {
  background-position: 0 -115px;
}
/* line 43, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-find_partner:active, .menu-find_partner.find_partner_active, .menu-find_partner.find_partner-active {
  background-position: 0 -69px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-settings {
  background-position: 0 -92px;
}
/* line 43, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-settings:active, .menu-settings.settings_active, .menu-settings.settings-active {
  background-position: 0 -46px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-travel_together {
  background-position: 0 -23px;
}
/* line 43, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-travel_together:active, .menu-travel_together.travel_together_active, .menu-travel_together.travel_together-active {
  background-position: 0 0;
}

/* line 178, listing/*.png */
.listing-sprite, .listing-beds, .listing-calendar, .listing-delete, .listing-favorite, .listing-ha, .listing-hb, .listing-hc, .listing-hd, .listing-parking, .listing-rooms, .listing-save_favorite, .listing-search, .listing-search_btn, .listing-send_message, .listing-sort, .listing-sort_d, .listing-toilet, .listing-wecharge {
  background: url('/img/listing-s6a12cbba77.png') no-repeat;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-beds {
  background-position: 0 -301px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-calendar {
  background-position: 0 -485px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-delete {
  background-position: 0 -267px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-favorite {
  background-position: 0 -469px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-ha {
  background-position: 0 -118px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-hb {
  background-position: 0 -80px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-hc {
  background-position: 0 -156px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-hd {
  background-position: 0 -378px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-parking {
  background-position: 0 -340px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-rooms {
  background-position: 0 -430px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-save_favorite {
  background-position: 0 -21px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-search {
  background-position: 0 -281px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-search_btn {
  background-position: 0 -416px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-send_message {
  background-position: 0 0;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-sort {
  background-position: 0 -250px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-sort_d {
  background-position: 0 -194px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-toilet {
  background-position: 0 -211px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-wecharge {
  background-position: 0 -42px;
}

/* line 11, ../scss/common.scss */
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif,"微軟正黑體";
  margin: 0;
  font-size: 12px;
}

/* line 17, ../scss/common.scss */
a {
  color: #3b91d9;
  text-decoration: none;
}

/* line 22, ../scss/common.scss */
a:hover {
  text-decoration: underline;
}

/* line 26, ../scss/common.scss */
input {
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 33, ../scss/common.scss */
input[type="text"], input[type="password"] {
  border: 1px solid #666666;
  color: #232323;
}

/* line 38, ../scss/common.scss */
input[type="submit"] {
  -webkit-appearance: button;
}

/* line 42, ../scss/common.scss */
.hidden {
  display: none;
}

/* line 46, ../scss/common.scss */
.invisible {
  visibility: hidden;
}

/* line 50, ../scss/common.scss */
.error-area {
  padding: 40px 20px;
  line-height: 25px;
}
/* line 53, ../scss/common.scss */
.error-area input {
  padding: 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* line 59, ../scss/common.scss */
.error-area input[type="text"] {
  width: 200px;
}
/* line 62, ../scss/common.scss */
.error-area form {
  margin-top: 5px;
}

/* line 67, ../scss/common.scss */
.yui3-skin-sam .yui3-calendar-weekday {
  font-weight: bold;
  padding: 5px;
  border: 1px solid #ccc;
  background: #06c;
  text-align: center;
  color: #FFF;
}

/* line 76, ../scss/common.scss */
.yui3-skin-sam .yui3-calendar-day {
  font-weight: bold;
  background-color: #FFF1E3;
}

/* line 81, ../scss/common.scss */
#map-all {
  width: 147px;
  height: 138px;
  margin: 0 auto;
  position: relative;
}
/* line 86, ../scss/common.scss */
#map-all .map-item {
  cursor: pointer;
}
/* line 89, ../scss/common.scss */
#map-all .map-map_wa {
  position: absolute;
  width: 58px;
  height: 89px;
  top: 16px;
}
/* line 95, ../scss/common.scss */
#map-all .map-map_nt {
  position: absolute;
  width: 34px;
  height: 62px;
  top: 5px;
  left: 56px;
}
/* line 102, ../scss/common.scss */
#map-all .map-map_sa {
  position: absolute;
  width: 44px;
  height: 51px;
  top: 65px;
  left: 56px;
}
/* line 109, ../scss/common.scss */
#map-all .map-map_qld {
  position: absolute;
  width: 58px;
  height: 78px;
  top: 0;
  right: 0px;
}
/* line 116, ../scss/common.scss */
#map-all .map-map_vic {
  position: absolute;
  width: 33px;
  height: 23px;
  top: 97px;
  right: 15px;
  z-index: 1;
}
/* line 124, ../scss/common.scss */
#map-all .map-map_tas {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 119px;
  right: 18px;
}
/* line 131, ../scss/common.scss */
#map-all .map-map_nsw {
  position: absolute;
  width: 48px;
  height: 41px;
  top: 73px;
  right: 0px;
}
/* line 139, ../scss/common.scss */
#map-all .unselected {
  background: url("/img/transparent.png");
}

/* line 144, ../scss/common.scss */
#map-all.map_big-map_all_big {
  width: 181px;
  height: 169px;
  margin: 0 auto;
  position: relative;
}
/* line 149, ../scss/common.scss */
#map-all.map_big-map_all_big .map_big-map_wa_big {
  position: absolute;
  width: 70px;
  height: 110px;
  top: 19px;
}
/* line 155, ../scss/common.scss */
#map-all.map_big-map_all_big .map_big-map_nt_big {
  position: absolute;
  width: 41px;
  height: 75px;
  top: 6px;
  left: 70px;
}
/* line 162, ../scss/common.scss */
#map-all.map_big-map_all_big .map_big-map_sa_big {
  position: absolute;
  width: 53px;
  height: 62px;
  top: 80px;
  left: 70px;
}
/* line 169, ../scss/common.scss */
#map-all.map_big-map_all_big .map_big-map_qld_big {
  position: absolute;
  width: 71px;
  height: 95px;
  top: 0;
  right: 1px;
}
/* line 176, ../scss/common.scss */
#map-all.map_big-map_all_big .map_big-map_vic_big {
  position: absolute;
  width: 41px;
  height: 28px;
  top: 119px;
  right: 18px;
  z-index: 1;
}
/* line 184, ../scss/common.scss */
#map-all.map_big-map_all_big .map_big-map_tas_big {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 146px;
  right: 23px;
}
/* line 191, ../scss/common.scss */
#map-all.map_big-map_all_big .map_big-map_nsw_big {
  position: absolute;
  width: 59px;
  height: 50px;
  top: 90px;
  right: 0px;
}
/* line 199, ../scss/common.scss */
#map-all.map_big-map_all_big .unselected {
  background: url("/img/transparent.png");
}

/* line 204, ../scss/common.scss */
.calendar {
  width: 220px;
  line-height: 15px;
}

/* line 209, ../scss/common.scss */
.panel {
  z-index: 100;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #656565;
  -webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
  background-color: #EFEFEF;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFEFEFEF');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iOTYlIiBzdG9wLWNvbG9yPSIjZWZlZmVmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(96%, #efefef));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #efefef 96%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #efefef 96%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #efefef 96%);
  background-image: linear-gradient(top, #ffffff 0%, #efefef 96%);
  position: absolute;
}

/* line 226, ../scss/common.scss */
.main-container {
  width: 760px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 143px;
  min-height: 800px;
}

/* line 234, ../scss/common.scss */
.col {
  float: left;
}

/* line 238, ../scss/common.scss */
.col-left {
  width: 160px;
}

/* line 242, ../scss/common.scss */
.col-right {
  width: 598px;
  margin-left: 2px;
}

/* line 247, ../scss/common.scss */
#banner {
  width: 100%;
  background-color: #CFED3F;
  position: fixed;
  z-index: 10;
}
/* line 252, ../scss/common.scss */
#banner .container {
  color: #232323;
  width: 760px;
  height: 110px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
/* line 259, ../scss/common.scss */
#banner .container .title {
  font-size: 36px;
  position: absolute;
  left: 100px;
  bottom: 10px;
}
/* line 265, ../scss/common.scss */
#banner .container .banner-pic {
  background: url(../img/banner_pic.png);
  width: 173px;
  height: 80px;
  position: absolute;
  right: 10px;
  bottom: 0px;
}

/* line 276, ../scss/common.scss */
.clean {
  clear: both;
}

/* line 280, ../scss/common.scss */
#menu-container {
  background-color: #B2B2B2;
  position: fixed;
  left: 50%;
  top: 110px;
  margin-left: -380px;
  z-index: 11;
}
/* line 287, ../scss/common.scss */
#menu-container #menu {
  width: 760px;
  margin: 0 auto;
  font-size: 14px;
  border: 1px solid #7F7F7F;
  background-color: #e5e5e5;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFD6D6D6');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iODclIiBzdG9wLWNvbG9yPSIjZTVlNWU1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDZkNmQ2Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(87%, #e5e5e5), color-stop(100%, #d6d6d6));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
  background-image: linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
}
/* line 296, ../scss/common.scss */
#menu-container #menu .btn {
  float: left;
  width: 20%;
  height: 31px;
  text-align: center;
  cursor: pointer;
}
/* line 302, ../scss/common.scss */
#menu-container #menu .btn .btn-container {
  display: inline-block;
  imargin: 0 auto;
  height: 31px;
  line-height: 31px;
}
/* line 307, ../scss/common.scss */
#menu-container #menu .btn .btn-container .menu-icon {
  width: 23px;
  height: 23px;
  float: left;
  margin: 3px 3px 3px 0;
  vertical-align: middle;
}
/* line 314, ../scss/common.scss */
#menu-container #menu .btn .btn-container .menu-find_houses {
  background-position: 0 -162px;
}
/* line 317, ../scss/common.scss */
#menu-container #menu .btn .btn-container .menu-find_customers {
  background-position: 0 -207px;
}
/* line 320, ../scss/common.scss */
#menu-container #menu .btn .btn-container .title {
  float: left;
  margin-top: 1px;
  max-width: 110px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* line 328, ../scss/common.scss */
#menu-container #menu .btn .btn-container a {
  color: #232323;
}
/* line 333, ../scss/common.scss */
#menu-container #menu .btn .btn-container.selected a, #menu-container #menu .btn .btn-container.mouseover a {
  color: #22CFBD;
}
/* line 336, ../scss/common.scss */
#menu-container #menu .btn .btn-container.selected .title, #menu-container #menu .btn .btn-container.mouseover .title {
  color: #22CFBD;
}
/* line 339, ../scss/common.scss */
#menu-container #menu .btn .btn-container.selected .menu-find_houses, #menu-container #menu .btn .btn-container.mouseover .menu-find_houses {
  background-position: 0 -138px;
}
/* line 342, ../scss/common.scss */
#menu-container #menu .btn .btn-container.selected .menu-find_customers, #menu-container #menu .btn .btn-container.mouseover .menu-find_customers {
  background-position: 0 -184px;
}
/* line 345, ../scss/common.scss */
#menu-container #menu .btn .btn-container.selected .menu-settings, #menu-container #menu .btn .btn-container.mouseover .menu-settings {
  background-position: 0 -46px;
}
/* line 350, ../scss/common.scss */
#menu-container #menu .btn-right {
  float: right;
  position: relative;
}
/* line 354, ../scss/common.scss */
#menu-container #menu .btn-right .btn-container .menu-icon {
  margin: 3px 0 3px 3px;
}
/* line 358, ../scss/common.scss */
#menu-container #menu .btn-right a {
  color: #232323;
}
/* line 362, ../scss/common.scss */
#menu-container #menu .extension-link {
  border: 1px solid #E5E5E5;
  border-bottom: 0px;
  width: 100%;
  -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.25);
  box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.25);
  position: relative;
  right: 2px;
  top: -1px;
  z-index: 12;
  text-align: left;
}
/* line 374, ../scss/common.scss */
#menu-container #menu .extension-link a {
  vertical-align: middle;
  color: #7F7F7F;
  text-decoration: none;
}
/* line 378, ../scss/common.scss */
#menu-container #menu .extension-link a .extension-item {
  padding-left: 20px;
  height: 26px;
  line-height: 26px;
  background-color: white;
  border-bottom: 1px solid #E5E5E5;
}
/* line 386, ../scss/common.scss */
#menu-container #menu .extension-link .extension-item:hover {
  background-color: #E5E5E5;
}

/* line 392, ../scss/common.scss */
#hint-panel {
  position: absolute;
  background-color: #FFF6D5;
  padding: 2px;
  color: #232323;
  position: absolute;
  z-index: 10;
  border: 1px solid #666666;
  -webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
}

/* line 405, ../scss/common.scss */
.login-panel {
  background-color: #E2E2E2;
  width: 226px;
  height: 188px;
  padding: 20px;
  color: #232323;
  position: absolute;
  top: 100px;
  left: 60%;
  margin-left: -145px;
  z-index: 10;
  border: 1px solid #666666;
  -webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
}
/* line 420, ../scss/common.scss */
.login-panel .egisterform-close {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
/* line 429, ../scss/common.scss */
.login-panel form {
  position: absolute;
}
/* line 431, ../scss/common.scss */
.login-panel form .option-set {
  margin: 5px 0;
}
/* line 433, ../scss/common.scss */
.login-panel form .option-set .title {
  margin: 0 5px 5px 5px;
  font-weight: bold;
  color: #232323;
}
/* line 438, ../scss/common.scss */
.login-panel form .option-set .sub-title {
  font-size: 12px;
  color: #232323;
}
/* line 442, ../scss/common.scss */
.login-panel form .option-set input {
  color: #666666;
}
/* line 445, ../scss/common.scss */
.login-panel form .option-set input[type=text], .login-panel form .option-set input[type=password] {
  border: 1px solid #232323;
  width: 200px;
}
/* line 449, ../scss/common.scss */
.login-panel form .option-set input[type=checkbox] {
  vertical-align: middle;
}
/* line 452, ../scss/common.scss */
.login-panel form .option-set input[type=submit] {
  float: left;
  color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 15px;
  margin: 0;
  border: 1px solid #232323;
  background-color: #eba028;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjQlIiBzdG9wLWNvbG9yPSIjZWJhMDI4Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWJhMDI4Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(3%, #ffffff), color-stop(4%, #eba028), color-stop(100%, #eba028));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 3%, #eba028 4%, #eba028 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 3%, #eba028 4%, #eba028 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #ffffff 3%, #eba028 4%, #eba028 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ffffff 3%, #eba028 4%, #eba028 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 468, ../scss/common.scss */
.login-panel form .option-set input[type=submit]:active {
  background-color: #eba028;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViYTAyOCIvPjxzdG9wIG9mZnNldD0iOTUlIiBzdG9wLWNvbG9yPSIjZWJhMDI4Ii8+PHN0b3Agb2Zmc2V0PSI5NiUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eba028), color-stop(95%, #eba028), color-stop(96%, #ffffff), color-stop(99%, #ffffff));
  background-image: -webkit-linear-gradient(top, #eba028 0%, #eba028 95%, #ffffff 96%, #ffffff 99%);
  background-image: -moz-linear-gradient(top, #eba028 0%, #eba028 95%, #ffffff 96%, #ffffff 99%);
  background-image: -o-linear-gradient(top, #eba028 0%, #eba028 95%, #ffffff 96%, #ffffff 99%);
  background-image: linear-gradient(top, #eba028 0%, #eba028 95%, #ffffff 96%, #ffffff 99%);
}
/* line 474, ../scss/common.scss */
.login-panel form .option-set:nth-child(2) {
  margin-top: 10px;
}
/* line 478, ../scss/common.scss */
.login-panel .registerform-close {
  width: 14px;
  height: 14px;
  cursor: pointer;
  top: 5px;
  right: 5px;
  position: absolute;
}
/* line 486, ../scss/common.scss */
.login-panel .register-now-main-btn {
  width: auto;
  position: static;
  float: left;
  margin-left: 20px;
}

/* line 494, ../scss/common.scss */
.register-now-main-btn {
  width: 100px;
  text-align: center;
  position: absolute;
  top: 450px;
  left: 800px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 15px;
  border: 1px solid #232323;
  background-color: #eba028;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjQlIiBzdG9wLWNvbG9yPSIjZWJhMDI4Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWJhMDI4Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(3%, #ffffff), color-stop(4%, #eba028), color-stop(100%, #eba028));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 3%, #eba028 4%, #eba028 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 3%, #eba028 4%, #eba028 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #ffffff 3%, #eba028 4%, #eba028 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ffffff 3%, #eba028 4%, #eba028 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 513, ../scss/common.scss */
.register-now-main-btn:active {
  background-color: #eba028;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViYTAyOCIvPjxzdG9wIG9mZnNldD0iOTUlIiBzdG9wLWNvbG9yPSIjZWJhMDI4Ii8+PHN0b3Agb2Zmc2V0PSI5NiUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eba028), color-stop(95%, #eba028), color-stop(96%, #ffffff), color-stop(99%, #ffffff));
  background-image: -webkit-linear-gradient(top, #eba028 0%, #eba028 95%, #ffffff 96%, #ffffff 99%);
  background-image: -moz-linear-gradient(top, #eba028 0%, #eba028 95%, #ffffff 96%, #ffffff 99%);
  background-image: -o-linear-gradient(top, #eba028 0%, #eba028 95%, #ffffff 96%, #ffffff 99%);
  background-image: linear-gradient(top, #eba028 0%, #eba028 95%, #ffffff 96%, #ffffff 99%);
}
