/* line 50, icons/*.png */
.icons-sprite, .icons-car, .icons-computer {
  background: url('/img/icons-se00d843b06.png') no-repeat;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-car {
  background-position: 0 0;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-computer {
  background-position: 0 -39px;
}

/* line 5, ../scss/common.scss */
body {
  font-family: Myriad Pro,Lucida Grande,Helvetica,Arial,Verdana,sans-serif,"Microsoft JhengHei","微軟正黑體";
  margin: 0;
  font-size: 14px;
}

/* line 11, ../scss/common.scss */
a {
  color: #3b91d9;
  text-decoration: none;
}

/* line 16, ../scss/common.scss */
a:hover {
  text-decoration: underline;
}

/* line 20, ../scss/common.scss */
input {
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 27, ../scss/common.scss */
.hidden {
  display: none;
}

/* line 31, ../scss/common.scss */
.invisible {
  visibility: hidden;
}

/* line 36, ../scss/common.scss */
#map-all .map-item {
  cursor: pointer;
}
/* line 39, ../scss/common.scss */
#map-all .unselected {
  background: url("/img/tranparent.png");
}

/* line 44, ../scss/common.scss */
#map-all.big {
  background: url("/img/map_all_big.png");
  width: 181px;
  height: 169px;
  margin: 0 auto;
  position: relative;
}
/* line 50, ../scss/common.scss */
#map-all.big .map-wa {
  position: absolute;
  background: url("/img/map_wa_big.png");
  width: 70px;
  height: 110px;
  top: 19px;
}
/* line 57, ../scss/common.scss */
#map-all.big .map-nt {
  position: absolute;
  background: url("/img/map_nt_big.png");
  width: 41px;
  height: 75px;
  top: 6px;
  left: 70px;
}
/* line 65, ../scss/common.scss */
#map-all.big .map-sa {
  position: absolute;
  background: url("/img/map_sa_big.png");
  width: 53px;
  height: 62px;
  top: 80px;
  left: 70px;
}
/* line 73, ../scss/common.scss */
#map-all.big .map-qld {
  position: absolute;
  background: url("/img/map_qld_big.png");
  width: 71px;
  height: 95px;
  top: 0;
  right: 1px;
}
/* line 81, ../scss/common.scss */
#map-all.big .map-vic {
  position: absolute;
  background: url("/img/map_vic_big.png");
  width: 41px;
  height: 28px;
  top: 119px;
  right: 18px;
}
/* line 89, ../scss/common.scss */
#map-all.big .map-tas {
  position: absolute;
  background: url("/img/map_tas_big.png");
  width: 23px;
  height: 23px;
  top: 146px;
  right: 23px;
}
/* line 98, ../scss/common.scss */
#map-all.big .unselected {
  background: url("/img/tranparent.png");
}

/* line 103, ../scss/common.scss */
.calendar {
  width: 220px;
  position: absolute;
}

/* line 108, ../scss/common.scss */
.panel {
  z-index: 100;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #656565;
  -webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
  background-color: white;
}
