/* line 98, map/*.png */
.map-sprite, .map-map_all, .map-map_nsw, .map-map_nt, .map-map_qld, .map-map_sa, .map-map_tas, .map-map_vic, .map-map_wa {
  background: url('/img/map-sdcd3ed85fc.png') no-repeat;
}

/* line 98, map_big/*.png */
.map_big-sprite, .map_big-map_all_big, .map_big-map_nsw_big, .map_big-map_nt_big, .map_big-map_qld_big, .map_big-map_sa_big, .map_big-map_tas_big, .map_big-map_vic_big, .map_big-map_wa_big {
  background: url('/img/map_big-s3c95f1b504.png') no-repeat;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_all {
  background-position: 0 0;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_nsw {
  background-position: 0 -305px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_nt {
  background-position: 0 -397px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_qld {
  background-position: 0 -227px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_sa {
  background-position: 0 -346px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_tas {
  background-position: 0 -482px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_vic {
  background-position: 0 -459px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map-map_wa {
  background-position: 0 -138px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_all_big {
  background-position: 0 0;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_nsw_big {
  background-position: 0 -374px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_nt_big {
  background-position: 0 -486px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_qld_big {
  background-position: 0 -279px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_sa_big {
  background-position: 0 -424px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_tas_big {
  background-position: 0 -589px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_vic_big {
  background-position: 0 -561px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.map_big-map_wa_big {
  background-position: 0 -169px;
}

/* line 114, menu/*.png */
.menu-sprite, .menu-find_customers, .menu-find_houses, .menu-find_partner, .menu-settings, .menu-travel_together {
  background: url('/img/menu-s51d58a325c.png') no-repeat;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-find_customers {
  background-position: 0 -207px;
}
/* line 43, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-find_customers:active, .menu-find_customers.find_customers_active, .menu-find_customers.find_customers-active {
  background-position: 0 -184px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-find_houses {
  background-position: 0 -161px;
}
/* line 43, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-find_houses:active, .menu-find_houses.find_houses_active, .menu-find_houses.find_houses-active {
  background-position: 0 -138px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-find_partner {
  background-position: 0 -115px;
}
/* line 43, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-find_partner:active, .menu-find_partner.find_partner_active, .menu-find_partner.find_partner-active {
  background-position: 0 -69px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-settings {
  background-position: 0 -92px;
}
/* line 43, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-settings:active, .menu-settings.settings_active, .menu-settings.settings-active {
  background-position: 0 -46px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-travel_together {
  background-position: 0 -23px;
}
/* line 43, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-travel_together:active, .menu-travel_together.travel_together_active, .menu-travel_together.travel_together-active {
  background-position: 0 0;
}

/* line 178, listing/*.png */
.listing-sprite, .listing-beds, .listing-calendar, .listing-delete, .listing-favorite, .listing-ha, .listing-hb, .listing-hc, .listing-hd, .listing-parking, .listing-rooms, .listing-save_favorite, .listing-search, .listing-search_btn, .listing-send_message, .listing-sort, .listing-sort_d, .listing-toilet, .listing-wecharge {
  background: url('/img/listing-s6a12cbba77.png') no-repeat;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-beds {
  background-position: 0 -301px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-calendar {
  background-position: 0 -485px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-delete {
  background-position: 0 -267px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-favorite {
  background-position: 0 -469px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-ha {
  background-position: 0 -118px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-hb {
  background-position: 0 -80px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-hc {
  background-position: 0 -156px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-hd {
  background-position: 0 -378px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-parking {
  background-position: 0 -340px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-rooms {
  background-position: 0 -430px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-save_favorite {
  background-position: 0 -21px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-search {
  background-position: 0 -281px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-search_btn {
  background-position: 0 -416px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-send_message {
  background-position: 0 0;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-sort {
  background-position: 0 -250px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-sort_d {
  background-position: 0 -194px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-toilet {
  background-position: 0 -211px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.listing-wecharge {
  background-position: 0 -42px;
}

/* line 11, ../scss/search_common.scss */
#search-menu, #favorites {
  padding-bottom: 10px;
  background-color: #e1f7f2;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE1F7F2', endColorstr='#FFE1F7F2');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UxZjdmMiIvPjxzdG9wIG9mZnNldD0iMzElIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSI4NyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWY3ZjIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e1f7f2), color-stop(31%, #ffffff), color-stop(87%, #ffffff), color-stop(100%, #e1f7f2));
  background-image: -webkit-linear-gradient(top, #e1f7f2 0%, #ffffff 31%, #ffffff 87%, #e1f7f2 100%);
  background-image: -moz-linear-gradient(top, #e1f7f2 0%, #ffffff 31%, #ffffff 87%, #e1f7f2 100%);
  background-image: -o-linear-gradient(top, #e1f7f2 0%, #ffffff 31%, #ffffff 87%, #e1f7f2 100%);
  background-image: linear-gradient(top, #e1f7f2 0%, #ffffff 31%, #ffffff 87%, #e1f7f2 100%);
  -webkit-border-radius: 0px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius: 0px;
  -moz-border-radius-top-right: 6px;
  -moz-border-radius-top-left: 6px;
  border-radius: 0px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border: 1px solid #232323;
  margin-top: 2px;
}
/* line 28, ../scss/search_common.scss */
#search-menu .green-title, #favorites .green-title {
  height: 25px;
  line-height: 25px;
  color: #232323;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: #22CFBD;
  -webkit-border-radius: 0px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius: 0px;
  -moz-border-radius-top-right: 5px;
  -moz-border-radius-top-left: 5px;
  border-radius: 0px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 44, ../scss/search_common.scss */
#search-menu .green-title .listing-search, #favorites .green-title .listing-search {
  width: 19px;
  height: 20px;
  float: left;
  margin: 3px 3px 3px 10px;
}
/* line 50, ../scss/search_common.scss */
#search-menu .green-title .listing-favorite, #favorites .green-title .listing-favorite {
  width: 17px;
  height: 16px;
  float: left;
  margin: 4px 3px 3px 10px;
}
/* line 56, ../scss/search_common.scss */
#search-menu .green-title .title, #favorites .green-title .title {
  color: #232323;
  float: left;
  vertical-align: middle;
}
/* line 62, ../scss/search_common.scss */
#search-menu .favorite-set, #favorites .favorite-set {
  margin: 2px 0;
}
/* line 64, ../scss/search_common.scss */
#search-menu .favorite-set .title, #favorites .favorite-set .title {
  float: left;
}
/* line 66, ../scss/search_common.scss */
#search-menu .favorite-set .title a, #favorites .favorite-set .title a {
  color: #232323;
}
/* line 70, ../scss/search_common.scss */
#search-menu .favorite-set .listing-delete, #favorites .favorite-set .listing-delete {
  width: 14px;
  height: 14px;
  float: left;
  margin: 4px;
  cursor: pointer;
}
/* line 78, ../scss/search_common.scss */
#search-menu .input-set, #favorites .input-set {
  clear: both;
  font-size: 10px;
  padding: 2px 9px;
  position: relative;
}
/* line 83, ../scss/search_common.scss */
#search-menu .input-set .listing-calendar, #favorites .input-set .listing-calendar {
  cursor: pointer;
  width: 17px;
  height: 16px;
  float: left;
  margin: 4px 2px;
}
/* line 90, ../scss/search_common.scss */
#search-menu .input-set .title, #favorites .input-set .title {
  padding: 1px;
  _padding: 3px 1px 0px 1px;
  *padding: 3px 1px 0px 1px;
  padding: 3px 1px 0px 1px\9;
  vertical-align: middle;
}
/* line 97, ../scss/search_common.scss */
#search-menu .input-set .title.sec-title, #favorites .input-set .title.sec-title {
  display: inline;
  width: auto;
}
/* line 101, ../scss/search_common.scss */
#search-menu .input-set .desc, #favorites .input-set .desc {
  color: #666666;
  font-size: 9px;
}
/* line 105, ../scss/search_common.scss */
#search-menu .input-set input, #favorites .input-set input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 2px;
  font-size: 10px;
  color: #666666;
  vertical-align: middle;
  float: left;
}
/* line 115, ../scss/search_common.scss */
#search-menu .input-set select, #favorites .input-set select {
  font-size: 10px;
  padding: 1px;
  width: 140px;
}
/* line 120, ../scss/search_common.scss */
#search-menu .input-set select.short, #favorites .input-set select.short {
  width: 40px;
}
/* line 124, ../scss/search_common.scss */
#search-menu #search-btn, #favorites #search-btn {
  width: 73px;
  height: 23px;
  line-height: 23px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #232323;
  color: #232323;
  text-align: center;
  background-color: #e5e5e5;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFD6D6D6');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iODclIiBzdG9wLWNvbG9yPSIjZTVlNWU1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDZkNmQ2Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(87%, #e5e5e5), color-stop(100%, #d6d6d6));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
  background-image: linear-gradient(top, #ffffff 0%, #e5e5e5 87%, #d6d6d6 100%);
  cursor: pointer;
}
/* line 140, ../scss/search_common.scss */
#search-menu #search-btn .listing-search_btn, #favorites #search-btn .listing-search_btn {
  width: 14px;
  height: 14px;
  float: left;
  vertical-align: middle;
  margin: 5px 3px 0 5px;
}
/* line 147, ../scss/search_common.scss */
#search-menu #search-btn .title, #favorites #search-btn .title {
  float: left;
  vertical-align: middle;
}

/* line 154, ../scss/search_common.scss */
#sort-bar {
  height: 16px;
  line-height: 16px;
  background-color: #656565;
  font-size: 12px;
  color: white;
  padding: 10px;
  margin: 2px 0;
}
/* line 162, ../scss/search_common.scss */
#sort-bar .title {
  margin-right: 10px;
  float: left;
}
/* line 166, ../scss/search_common.scss */
#sort-bar .sort-item {
  vertical-align: middle;
  float: left;
}
/* line 169, ../scss/search_common.scss */
#sort-bar .sort-item .listing-sort {
  width: 16px;
  height: 17px;
  margin-right: 15px;
  float: left;
}
/* line 175, ../scss/search_common.scss */
#sort-bar .sort-item .listing-sort_d {
  width: 16px;
  height: 17px;
  margin-right: 15px;
  float: left;
}
/* line 181, ../scss/search_common.scss */
#sort-bar .sort-item .desc {
  margin: 0 5px;
  float: left;
}
/* line 184, ../scss/search_common.scss */
#sort-bar .sort-item .desc a {
  color: white;
}
/* line 191, ../scss/search_common.scss */
#sort-bar .sort-item.selected .desc a {
  text-decoration: underline;
}

/* line 198, ../scss/search_common.scss */
.search-result {
  background-color: white;
}
/* line 200, ../scss/search_common.scss */
.search-result .listing-icon {
  width: 19px;
  height: 22px;
  margin: 3px 5px;
  float: left;
}
/* line 206, ../scss/search_common.scss */
.search-result .theme-icon-house {
  width: 19px;
  height: 22px;
  margin: 3px 5px;
  float: left;
}
/* line 212, ../scss/search_common.scss */
.search-result .theme-icon-packer {
  width: 21px;
  height: 21px;
  margin: 3px 5px;
  float: left;
}
/* line 218, ../scss/search_common.scss */
.search-result .bar {
  height: 31px;
  line-height: 31px;
  border-bottom: 3px solid;
}
/* line 222, ../scss/search_common.scss */
.search-result .bar .left {
  width: 521px;
  height: 30px;
  border: 1px solid;
  border-bottom: 0;
  float: left;
}
/* line 228, ../scss/search_common.scss */
.search-result .bar .left .title {
  color: #232323;
  font-size: 16px;
  float: left;
}
/* line 233, ../scss/search_common.scss */
.search-result .bar .left img {
  width: 22px;
  height: 15px;
  float: left;
  margin: 8px 10px;
}
/* line 239, ../scss/search_common.scss */
.search-result .bar .left .updated-time {
  font-size: 10px;
  float: right;
  margin-right: 15px;
}
/* line 245, ../scss/search_common.scss */
.search-result .bar .left-house {
  width: 422px;
}
/* line 248, ../scss/search_common.scss */
.search-result .bar .right-item {
  margin-left: 1px;
  height: 30px;
  width: 30px;
  border: 1px solid;
  border-bottom: 0;
  float: left;
  cursor: pointer;
  position: relative;
}
/* line 257, ../scss/search_common.scss */
.search-result .bar .right-item .theme-icon-detail {
  width: 18px;
  height: 18px;
  margin: 6px 6px;
}
/* line 262, ../scss/search_common.scss */
.search-result .bar .right-item .theme-icon-pic {
  width: 20px;
  height: 16px;
  margin: 7px 5px;
}
/* line 267, ../scss/search_common.scss */
.search-result .bar .right-item .theme-icon-map {
  width: 12px;
  height: 18px;
  margin: 6px 9px;
}
/* line 272, ../scss/search_common.scss */
.search-result .bar .right-item .theme-icon-contact {
  width: 15px;
  height: 18px;
  margin: 6px 7px;
}
/* line 278, ../scss/search_common.scss */
.search-result .bar .right-item.selected {
  background-color: white;
}
/* line 280, ../scss/search_common.scss */
.search-result .bar .right-item.selected .white-bar {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: white;
}
/* line 288, ../scss/search_common.scss */
.search-result .content {
  padding: 5px 10px;
  border: 1px solid;
  border-top: 0;
  margin-bottom: 2px;
  position: relative;
}
/* line 294, ../scss/search_common.scss */
.search-result .content .left-content {
  float: left;
}
/* line 296, ../scss/search_common.scss */
.search-result .content .left-content img {
  width: 76px;
  height: 93px;
  margin-top: 15px;
}
/* line 302, ../scss/search_common.scss */
.search-result .content .right-content {
  float: left;
  position: relative;
  margin-left: 5px;
}
/* line 306, ../scss/search_common.scss */
.search-result .content .right-content .info-set {
  height: 25px;
  overflow: hidden;
}
/* line 309, ../scss/search_common.scss */
.search-result .content .right-content .info-set .title {
  width: 145px;
  height: 17px;
  text-align: right;
  float: left;
}
/* line 315, ../scss/search_common.scss */
.search-result .content .right-content .info-set .title.two-column {
  width: 65px;
}
/* line 318, ../scss/search_common.scss */
.search-result .content .right-content .info-set .desc {
  width: 100px;
  text-align: left;
  color: #232323;
  float: left;
  margin-left: 5px;
  white-space: nowrap;
}
/* line 325, ../scss/search_common.scss */
.search-result .content .right-content .info-set .desc .inline-desc {
  width: auto;
  padding: 2px 4px;
  margin: 0;
  float: left;
}
/* line 332, ../scss/search_common.scss */
.search-result .content .right-content .info-set .desc.two-column {
  width: 130px;
}
/* line 335, ../scss/search_common.scss */
.search-result .content .right-content .info-set .one-line-desc {
  width: auto;
}
/* line 339, ../scss/search_common.scss */
.search-result .content .right-content .listing-icon {
  width: 20px;
  height: 21px;
  float: left;
  margin: 2px 3px;
}
/* line 346, ../scss/search_common.scss */
.search-result .content .combined-content {
  float: left;
  width: 535px;
  height: 111px;
  positiion: relative;
}
/* line 352, ../scss/search_common.scss */
.search-result .content .combined-content .info-set .title {
  width: 75px;
}
/* line 355, ../scss/search_common.scss */
.search-result .content .combined-content .info-set .title.two-column {
  width: 65px;
}
/* line 358, ../scss/search_common.scss */
.search-result .content .combined-content .info-set .desc {
  width: 160px;
  white-space: nowrap;
}
/* line 361, ../scss/search_common.scss */
.search-result .content .combined-content .info-set .desc .inline-desc {
  width: auto;
}
/* line 365, ../scss/search_common.scss */
.search-result .content .combined-content .info-set .one-line-desc {
  width: auto;
}
/* line 370, ../scss/search_common.scss */
.search-result .content .pic-content {
  float: left;
  width: 535px;
  height: 111px;
  position: relative;
}
/* line 375, ../scss/search_common.scss */
.search-result .content .pic-content .arrow-area {
  float: left;
  width: 20px;
  height: 111px;
}
/* line 379, ../scss/search_common.scss */
.search-result .content .pic-content .arrow-area .theme-arrow {
  cursor: pointer;
  width: 11px;
  height: 28px;
  margin: 40px 5px;
}
/* line 386, ../scss/search_common.scss */
.search-result .content .pic-content .pics {
  float: left;
  overflow: hidden;
  height: 111px;
  width: 492px;
  overflow: hidden;
  white-space: nowrap;
}
/* line 393, ../scss/search_common.scss */
.search-result .content .pic-content .pics ul {
  padding: 0;
  margin: 0;
  height: 111px;
}
/* line 397, ../scss/search_common.scss */
.search-result .content .pic-content .pics ul li {
  display: inline-block;
  margin: 0px;
  margin-top: 4px;
  overflow: hidden;
  height: 103px;
  white-space: nowrap;
}
/* line 404, ../scss/search_common.scss */
.search-result .content .pic-content .pics ul li img {
  width: 144px;
  height: 93px;
  border: 5px solid white;
  cursor: pointer;
}
/* line 410, ../scss/search_common.scss */
.search-result .content .pic-content .pics ul li img.selected {
  border: 5px solid #B2B2B2;
}
/* line 417, ../scss/search_common.scss */
.search-result .content .map-content {
  width: 535px;
  height: 111px;
}
/* line 420, ../scss/search_common.scss */
.search-result .content .map-content .map {
  width: 142px;
  height: 90px;
  margin: 10px 5px;
  float: left;
}
/* line 426, ../scss/search_common.scss */
.search-result .content .map-content .location-info {
  width: 370px;
  height: 111px;
  float: left;
  margin-left: 10px;
}
/* line 431, ../scss/search_common.scss */
.search-result .content .map-content .location-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}
/* line 436, ../scss/search_common.scss */
.search-result .content .map-content .location-info ul .desc {
  color: #232323;
  margin: 0;
}
/* line 443, ../scss/search_common.scss */
.search-result .content .action-btns {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
/* line 447, ../scss/search_common.scss */
.search-result .content .action-btns .listing-save_favorite {
  width: 52px;
  height: 21px;
  margin: 5px;
  cursor: pointer;
}
/* line 453, ../scss/search_common.scss */
.search-result .content .action-btns .listing-send_message {
  width: 52px;
  height: 21px;
  margin: 5px;
  cursor: pointer;
}
/* line 461, ../scss/search_common.scss */
.search-result .message-panel {
  background-color: #E2E2E2;
  width: 300px;
  height: 100px;
  padding: 10px;
  color: #232323;
  position: absolute;
  top: -25px;
  left: 100px;
  z-index: 10;
  border: 1px solid #666666;
  -webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
}
/* line 475, ../scss/search_common.scss */
.search-result .message-panel .title {
  display: inline;
}
/* line 478, ../scss/search_common.scss */
.search-result .message-panel .desc {
  display: inline;
}
/* line 481, ../scss/search_common.scss */
.search-result .message-panel textarea {
  margin: 5px 0;
  width: 243px;
  height: 73px;
}
/* line 486, ../scss/search_common.scss */
.search-result .message-panel .listing-delete {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
/* line 494, ../scss/search_common.scss */
.search-result .message-panel input[type="submit"] {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/* line 502, ../scss/search_common.scss */
.pagenation {
  overflow: hidden;
  padding: 20px 0 40px 0;
  margin: 0 auto;
  float: right;
}
/* line 507, ../scss/search_common.scss */
.pagenation div {
  float: left;
  margin: 0 2px;
}
/* line 511, ../scss/search_common.scss */
.pagenation div.selected {
  background-color: #EEE;
}
/* line 515, ../scss/search_common.scss */
.pagenation a {
  font-size: 10px;
  color: #666666;
}
