/* line 154, theme_tas/*.png */
.theme_tas-sprite, .theme_tas-arrow_left, .search-result.theme_tas .theme-icon-arrow_left, .theme_tas-arrow_right, .search-result.theme_tas .theme-icon-arrow_right, .theme_tas-contact, .search-result.theme_tas .theme-icon-contact, .theme_tas-detail, .search-result.theme_tas .theme-icon-detail, .theme_tas-fa, .search-result.theme_tas .theme-icon-fa, .theme_tas-fb, .search-result.theme_tas .theme-icon-fb, .theme_tas-fc, .search-result.theme_tas .theme-icon-fc, .theme_tas-fd, .search-result.theme_tas .theme-icon-fd, .theme_tas-fe, .search-result.theme_tas .theme-icon-fe, .theme_tas-ff, .search-result.theme_tas .theme-icon-ff, .theme_tas-fg, .search-result.theme_tas .theme-icon-fg, .theme_tas-house, .search-result.theme_tas .theme-icon-house, .theme_tas-map, .search-result.theme_tas .theme-icon-map, .theme_tas-packer, .search-result.theme_tas .theme-icon-packer, .theme_tas-pic, .search-result.theme_tas .theme-icon-pic, .search-result.theme_tas .theme-sprite {
  background: url('/img/theme_tas-se888cec671.png') no-repeat;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_tas-arrow_left, .search-result.theme_tas .theme-icon-arrow_left {
  background-position: 0 -368px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_tas-arrow_right, .search-result.theme_tas .theme-icon-arrow_right {
  background-position: 0 -414px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_tas-contact, .search-result.theme_tas .theme-icon-contact {
  background-position: 0 -396px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_tas-detail, .search-result.theme_tas .theme-icon-detail {
  background-position: 0 -238px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_tas-fa, .search-result.theme_tas .theme-icon-fa {
  background-position: 0 -43px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_tas-fb, .search-result.theme_tas .theme-icon-fb {
  background-position: 0 -256px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_tas-fc, .search-result.theme_tas .theme-icon-fc {
  background-position: 0 -199px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_tas-fd, .search-result.theme_tas .theme-icon-fd {
  background-position: 0 -329px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_tas-fe, .search-result.theme_tas .theme-icon-fe {
  background-position: 0 -160px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_tas-ff, .search-result.theme_tas .theme-icon-ff {
  background-position: 0 -82px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_tas-fg, .search-result.theme_tas .theme-icon-fg {
  background-position: 0 -121px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_tas-house, .search-result.theme_tas .theme-icon-house {
  background-position: 0 0;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_tas-map, .search-result.theme_tas .theme-icon-map {
  background-position: 0 -311px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_tas-packer, .search-result.theme_tas .theme-icon-packer {
  background-position: 0 -22px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_tas-pic, .search-result.theme_tas .theme-icon-pic {
  background-position: 0 -295px;
}

/* line 4, ../scss/theme_tas.scss */
.search-result.theme_tas {
  color: #A82124;
}
/* line 6, ../scss/theme_tas.scss */
.search-result.theme_tas .bar {
  border-bottom-color: #A82124;
}
/* line 8, ../scss/theme_tas.scss */
.search-result.theme_tas .bar .left {
  background-color: #F9C9BA;
}
/* line 10, ../scss/theme_tas.scss */
.search-result.theme_tas .bar .left .updated-time {
  color: #A82124;
}
/* line 14, ../scss/theme_tas.scss */
.search-result.theme_tas .bar .right-item {
  background-color: #F9C9BA;
}
/* line 17, ../scss/theme_tas.scss */
.search-result.theme_tas .bar .right-item.selected {
  background-color: white;
}
/* line 21, ../scss/theme_tas.scss */
.search-result.theme_tas .content {
  border-color: #A82124;
}
/* line 25, ../scss/theme_tas.scss */
.search-result.theme_tas .content right-content .info-set .title {
  color: #A82124;
}
