/* line 154, theme_sa/*.png */
.theme_sa-sprite, .theme_sa-arrow_left, .theme_sa-arrow_right, .theme_sa-contact, .search-result .theme-icon-contact, .theme_sa-detail, .search-result .theme-icon-detail, .theme_sa-fa, .search-result .theme-icon-fa, .theme_sa-fb, .search-result .theme-icon-fb, .theme_sa-fc, .search-result .theme-icon-fc, .theme_sa-fd, .search-result .theme-icon-fd, .theme_sa-fe, .search-result .theme-icon-fe, .theme_sa-ff, .search-result .theme-icon-ff, .theme_sa-fg, .search-result .theme-icon-fg, .theme_sa-house, .search-result .theme-icon-house, .theme_sa-map, .search-result .theme-icon-map, .theme_sa-packer, .search-result .theme-icon-packer, .theme_sa-pic, .search-result .theme-icon-pic, .search-result .theme-sprite {
  background: url('/img/theme_sa-s2bf9775f4a.png') no-repeat;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_sa-arrow_left {
  background-position: 0 -366px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_sa-arrow_right {
  background-position: 0 -412px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_sa-contact, .search-result .theme-icon-contact {
  background-position: 0 -394px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_sa-detail, .search-result .theme-icon-detail {
  background-position: 0 -236px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_sa-fa, .search-result .theme-icon-fa {
  background-position: 0 -41px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_sa-fb, .search-result .theme-icon-fb {
  background-position: 0 -254px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_sa-fc, .search-result .theme-icon-fc {
  background-position: 0 -158px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_sa-fd, .search-result .theme-icon-fd {
  background-position: 0 -309px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_sa-fe, .search-result .theme-icon-fe {
  background-position: 0 -119px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_sa-ff, .search-result .theme-icon-ff {
  background-position: 0 -80px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_sa-fg, .search-result .theme-icon-fg {
  background-position: 0 -197px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_sa-house, .search-result .theme-icon-house {
  background-position: 0 0;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_sa-map, .search-result .theme-icon-map {
  background-position: 0 -348px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_sa-packer, .search-result .theme-icon-packer {
  background-position: 0 -21px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_sa-pic, .search-result .theme-icon-pic {
  background-position: 0 -293px;
}

/* line 3, ../scss/theme_sa.scss */
.search-result {
  color: #C78F00;
}
/* line 5, ../scss/theme_sa.scss */
.search-result .bar {
  border-bottom-color: #C78F00;
}
/* line 7, ../scss/theme_sa.scss */
.search-result .bar .left {
  background-color: #FFFFD4;
}
/* line 9, ../scss/theme_sa.scss */
.search-result .bar .left .updated-time {
  color: #C78F00;
}
/* line 13, ../scss/theme_sa.scss */
.search-result .bar .right-item {
  background-color: #FFFFD4;
}
/* line 17, ../scss/theme_sa.scss */
.search-result .content {
  border-color: #C78F00;
}
/* line 21, ../scss/theme_sa.scss */
.search-result .content right-content .info-set .title {
  color: #C78F00;
}
