/* line 154, theme_nt/*.png */
.theme_nt-sprite, .theme_nt-arrow_left, .search-result.theme_nt .theme-icon-arrow_left, .theme_nt-arrow_right, .search-result.theme_nt .theme-icon-arrow_right, .theme_nt-contact, .search-result.theme_nt .theme-icon-contact, .theme_nt-detail, .search-result.theme_nt .theme-icon-detail, .theme_nt-fa, .search-result.theme_nt .theme-icon-fa, .theme_nt-fb, .search-result.theme_nt .theme-icon-fb, .theme_nt-fc, .search-result.theme_nt .theme-icon-fc, .theme_nt-fd, .search-result.theme_nt .theme-icon-fd, .theme_nt-fe, .search-result.theme_nt .theme-icon-fe, .theme_nt-ff, .search-result.theme_nt .theme-icon-ff, .theme_nt-fg, .search-result.theme_nt .theme-icon-fg, .theme_nt-house, .search-result.theme_nt .theme-icon-house, .theme_nt-map, .search-result.theme_nt .theme-icon-map, .theme_nt-packer, .search-result.theme_nt .theme-icon-packer, .theme_nt-pic, .search-result.theme_nt .theme-icon-pic, .search-result.theme_nt .theme-sprite {
  background: url('/img/theme_nt-s68b4be41dc.png') no-repeat;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nt-arrow_left, .search-result.theme_nt .theme-icon-arrow_left {
  background-position: 0 -360px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nt-arrow_right, .search-result.theme_nt .theme-icon-arrow_right {
  background-position: 0 -406px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nt-contact, .search-result.theme_nt .theme-icon-contact {
  background-position: 0 -388px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nt-detail, .search-result.theme_nt .theme-icon-detail {
  background-position: 0 -194px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nt-fa, .search-result.theme_nt .theme-icon-fa {
  background-position: 0 -42px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nt-fb, .search-result.theme_nt .theme-icon-fb {
  background-position: 0 -250px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nt-fc, .search-result.theme_nt .theme-icon-fc {
  background-position: 0 -212px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nt-fd, .search-result.theme_nt .theme-icon-fd {
  background-position: 0 -322px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nt-fe, .search-result.theme_nt .theme-icon-fe {
  background-position: 0 -156px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nt-ff, .search-result.theme_nt .theme-icon-ff {
  background-position: 0 -80px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nt-fg, .search-result.theme_nt .theme-icon-fg {
  background-position: 0 -118px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nt-house, .search-result.theme_nt .theme-icon-house {
  background-position: 0 0;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nt-map, .search-result.theme_nt .theme-icon-map {
  background-position: 0 -304px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nt-packer, .search-result.theme_nt .theme-icon-packer {
  background-position: 0 -21px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nt-pic, .search-result.theme_nt .theme-icon-pic {
  background-position: 0 -288px;
}

/* line 4, ../scss/theme_nt.scss */
.search-result.theme_nt {
  color: #007DB9;
}
/* line 6, ../scss/theme_nt.scss */
.search-result.theme_nt .bar {
  border-bottom-color: #007DB9;
}
/* line 8, ../scss/theme_nt.scss */
.search-result.theme_nt .bar .left {
  background-color: #C2E7FF;
}
/* line 10, ../scss/theme_nt.scss */
.search-result.theme_nt .bar .left .updated-time {
  color: #007DB9;
}
/* line 14, ../scss/theme_nt.scss */
.search-result.theme_nt .bar .right-item {
  background-color: #C2E7FF;
}
/* line 17, ../scss/theme_nt.scss */
.search-result.theme_nt .bar .right-item.selected {
  background-color: white;
}
/* line 21, ../scss/theme_nt.scss */
.search-result.theme_nt .content {
  border-color: #007DB9;
}
/* line 25, ../scss/theme_nt.scss */
.search-result.theme_nt .content right-content .info-set .title {
  color: #007DB9;
}
