/* line 154, theme_nsw/*.png */
.theme_nsw-sprite, .theme_nsw-arrow_left, .theme_nsw-arrow_right, .theme_nsw-contact, .search-result .theme-icon-contact, .theme_nsw-detail, .search-result .theme-icon-detail, .theme_nsw-fa, .search-result .theme-icon-fa, .theme_nsw-fb, .search-result .theme-icon-fb, .theme_nsw-fc, .search-result .theme-icon-fc, .theme_nsw-fd, .search-result .theme-icon-fd, .theme_nsw-fe, .search-result .theme-icon-fe, .theme_nsw-ff, .search-result .theme-icon-ff, .theme_nsw-fg, .search-result .theme-icon-fg, .theme_nsw-house, .search-result .theme-icon-house, .theme_nsw-map, .search-result .theme-icon-map, .theme_nsw-packer, .search-result .theme-icon-packer, .theme_nsw-pic, .search-result .theme-icon-pic, .search-result .theme-sprite {
  background: url('/img/theme_nsw-sc685f1ac14.png') no-repeat;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nsw-arrow_left {
  background-position: 0 -359px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nsw-arrow_right {
  background-position: 0 -405px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nsw-contact, .search-result .theme-icon-contact {
  background-position: 0 -387px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nsw-detail, .search-result .theme-icon-detail {
  background-position: 0 -193px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nsw-fa, .search-result .theme-icon-fa {
  background-position: 0 -41px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nsw-fb, .search-result .theme-icon-fb {
  background-position: 0 -249px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nsw-fc, .search-result .theme-icon-fc {
  background-position: 0 -211px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nsw-fd, .search-result .theme-icon-fd {
  background-position: 0 -321px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nsw-fe, .search-result .theme-icon-fe {
  background-position: 0 -155px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nsw-ff, .search-result .theme-icon-ff {
  background-position: 0 -79px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nsw-fg, .search-result .theme-icon-fg {
  background-position: 0 -117px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nsw-house, .search-result .theme-icon-house {
  background-position: 0 0;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nsw-map, .search-result .theme-icon-map {
  background-position: 0 -303px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nsw-packer, .search-result .theme-icon-packer {
  background-position: 0 -21px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.theme_nsw-pic, .search-result .theme-icon-pic {
  background-position: 0 -287px;
}

/* line 3, ../scss/theme_nsw.scss */
.search-result {
  color: #E66996;
}
/* line 5, ../scss/theme_nsw.scss */
.search-result .bar {
  border-bottom-color: #E66996;
}
/* line 7, ../scss/theme_nsw.scss */
.search-result .bar .left {
  background-color: #FFD4E8;
}
/* line 9, ../scss/theme_nsw.scss */
.search-result .bar .left .updated-time {
  color: #E66996;
}
/* line 13, ../scss/theme_nsw.scss */
.search-result .bar .right-item {
  background-color: #FFD4E8;
}
/* line 17, ../scss/theme_nsw.scss */
.search-result .content {
  border-color: #E66996;
}
/* line 21, ../scss/theme_nsw.scss */
.search-result .content right-content .info-set .title {
  color: #E66996;
}
